@import 'variables.scss';

.notes-edit-form {
  display: grid;
  // grid-column-gap: $x2large_distance;
  grid-template-columns: 1fr;
  padding: 0;

  fieldset {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }

  .buttons {
    display: grid;
    justify-content: end;
    grid-auto-flow: column;
    grid-column-gap: distance(1);
  }

  textarea{
    min-height: distance(6);
  }
  mat-label > .required {
    margin-left: $small_distance;
    color: red;
  }
}
