@import 'variables.scss';

form.status-form {
  background: white;
  padding: $small_distance;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $small_distance;

  #status-form--status {
    grid-column: 1 / span 2;
  }
}
