<div class="appVersion">v {{appVersion}}</div>
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" routerLink="/" routerLinkActive="active">VMS</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->

<div class="container">
  <router-outlet></router-outlet>
</div>
