<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" routerLink="/" routerLinkActive="active">VMS</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a
                  class="nav-link waves-light"
                  mdbWavesEffect
                  routerLink="/"
                  routerLinkActive="active"
                >
                  Home<span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->

<div class="container">
  <router-outlet></router-outlet>
</div>
