@import 'variables.scss';

.navbar {
  background: $color_light_turquoise;
  color: white;
  height: $navbar_height;
  display: grid;
  grid-template-columns: auto 1fr;

  a {
    color: white;
    text-decoration: none;
  }

  .navbar-brand-and-version {
    margin: auto 0px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: distance(1);

    .app-version {
      place-self: center;
      font-size: 75%;
    }

    .navbar-brand {
      padding-left: distance(1);

      i.brand-image {
        display: block;
        background: url('/assets/UVMS_logo.svg');
        height: 32px;
        width: 103.375px;
        background-size: 103.375px 32px;
        margin-top: distance(-0.5);
      }
    }
  }

  ul.navbar-nav {
    a:hover {
      border-bottom: 1px solid $color_orange;
    }

    display: inline-block;
    list-style: none;
    padding-left: 0px;
    li.nav-item {
      display: inline-block;
      margin-right: $large_distance;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
}

.container {
  padding: $medium_distance $large_distance;
  height: calc(100% - #{$navbar_height});
}
