@import 'variables.scss';

$incident_header_height: 78px; // Is set automaticlly, unfortunatly this might change, and css might break.

.content-container {
  display: grid;
  grid-template-rows: 1fr auto;
  height: calc(100vh - #{$navbar_height} - #{$incident_header_height});
  grid-row-gap: distance(2);

  .incident-body {
    display: grid;
    grid-row-gap: distance(1);
    color: black;
    padding: $medium_distance;
    overflow-y: auto;
    align-content: start;

    map-manual-movement-form-tooltip {
      grid-area: right;
    }
  }

  .content-block {
    margin-bottom: distance(1);
  }

  h4 {
    margin: 0;
    padding: 0;
    margin-top: distance(2);

    &:first-child {
      margin-top: distance(1);
    }
  }

  .incident-information {
    display: grid;
    grid-row-gap: distance(2);
    background: white;
    padding: distance(2);

    .button-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: distance(2);
    }
  }

  .asset-information{
    display: grid;
    grid-template-columns: 1fr auto;
    background: white;
    padding: $medium_distance;
    overflow-y: scroll;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
    &::-webkit-scrollbar {
      display: none;  // Safari and Chrome
    }

    h5 {
      grid-column: 1 / span 2;
      border-bottom: 1px solid $color_dark_gray;
      margin-bottom: $medium_distance;
      padding-bottom: 0px;
      padding-top: $large_distance;

      &:first-child {
        padding-top: 0px;
      }
    }

    legend {
      font-size: $default_font_size;
    }

    a {
      color: black;
    }
  }

  .incident-footer {
    padding: distance(2);
    background: white;
    box-shadow: 0px distance(-0.25) distance(1) $color_dark_gray;
    align-self: end;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: distance(1);

    .notes-and-log {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: distance(2);
      i.ri-arrow-drop-right-fill {
        font-size: distance(3);
      }
    }
  }
}
