<div class="asset-layout--grid">
  <core-top-menu-component
    [appVersion]="appVersion"
    [isAdmin]="isAdmin$ | async"
    [setTimezone]="setTimezone"
    [timezone]="timezone$ | async"
    [fishingActivityUnlocked]="fishingActivityUnlocked$ | async"
  ></core-top-menu-component>

  <core-notifications
    [notifications]="notifications$ | async"
    [dismiss]="dismissNotification"
  ></core-notifications>

  <h1 class="page-title">{{getTitleName()}}</h1>

  <div class="side-menu">
    <ul>
      <li routerLink="/asset" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="short-key">S</span>
        <span class="text" i18n>Search</span>
      </li>
      <li routerLink="/mobileTerminals" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="short-key">M</span>
        <span class="text" i18n>Mobile Terminals</span>
      </li>
      <li class="divider"></li>
      <ng-container *ngIf="selectedAsset">
        <li routerLink="/asset/{{selectedAsset.id}}" class="{{ matchAssetInfoUrl() ? 'active' : '' }}">
          <span class="short-key">1</span>
          <span class="text" i18n>Asset info</span>
        </li>
        <li
          class="{{ matchMobileTerminalUrl() ? 'active' : '' }}"
          routerLink="/asset/{{selectedAsset.id}}/mobileTerminals"
        >
          <span class="short-key">2</span>
          <span class="text" i18n>Mobile terminals</span>
        </li>
        <li routerLink="/asset/{{selectedAsset.id}}/contacts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <span class="short-key">3</span>
          <span class="text" i18n>Contacts</span>
        </li>
        <li routerLink="/asset/{{selectedAsset.id}}/notes" routerLinkActive="active">
          <span class="short-key">4</span>
          <span class="text" i18n>Notes</span>
        </li>
        <li  routerLink="/asset/{{selectedAsset.id}}/positions" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <span class="short-key">5</span>
          <span class="text" i18n>Last positions</span>
        </li>
      </ng-container>
      <ng-container *ngIf="!selectedAsset">
        <li class="deactivated">
          <span class="short-key">1</span>
          <span class="text" i18n>Asset info</span>
        </li>
        <li class="deactivated">
          <span class="short-key">2</span>
          <span class="text" i18n>Mobile terminal</span>
        </li>
        <li class="deactivated">
          <span class="short-key">3</span>
          <span class="text" i18n>Contact</span>
        </li>
        <li class="deactivated">
          <span class="short-key">4</span>
          <span class="text" i18n>Notes</span>
        </li>
        <li class="deactivated">
          <span class="short-key">5</span>
          <span class="text" i18n>Last positions</span>
        </li>
      </ng-container>
    </ul>
  </div>

  <router-outlet></router-outlet>
</div>
