@import 'variables.scss';

.asset-layout--grid {
  display: grid;
  grid-template-columns: 1fr 224px 1040px 224px 1fr;
  // grid-row-gap: $xlarge_distance;
  grid-column-gap: $xlarge_distance;
  grid-template-areas:
  "header header header header header"
  "left-margin notifications notifications notifications right-margin"
  "left-margin page-title page-title . right-margin"
  "left-margin side-menu main toolbox right-margin";

  & > core-top-menu-component {
    grid-area: header;
  }

  & > core-notifications {
    grid-area: notifications;
  }

  & > .page-title {
    grid-area: page-title;
    padding-left: $x3large_distance;
  }

  & > .side-menu {
    grid-area: side-menu;
    ul {
      padding: 0px;
      margin: 0px;
      list-style-type: none;
      display: grid;
      grid-row-gap: $distance;

      li {
        display: grid;
        grid-template-columns: 40px 1fr;
        background: $color_turquoise;
        color: white;
        cursor: pointer;

        &.divider {
          border-top: distance(0.5) solid $color_gray;
        }

        & > * {
          padding: $distance;
        }

        .short-key {
          background: $color_dark_turquoise;
          font-weight: bold;
          text-align: center;
        }

        &.active {
          background: white;
          color: $color_turquoise;
          .short-key {
            color: white;
          }
        }

        &.deactivated {
          background: $color_cold_dark_gray;
          .short-key {
            background: $color_gray;
          }
        }
      }
    }
  }

  & > router-outlet + * {
    grid-area: main;
  }
  //
  // .asset-page {
  //   grid-area: main;
  // }

  .toolbox-wrapper {
    grid-area: toolbox;
    // justify-self: start;

    .toolbox {
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 71px;
      background: white;
      padding: $distance;
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: $distance;
    }
  }
}

@media screen and (max-width: 1600px) {
  .asset-layout--grid {
    grid-template-columns: 1fr 224px 720px 224px 1fr;
  }
}

@media screen and (max-width: 1280px) {
  .asset-layout--grid {
    grid-template-columns: 1fr 224px minmax(416px, 840px) 1fr;
    grid-column-gap: distance(2);
    grid-template-areas:
    "header header header header"
    "left-margin notifications notifications right-margin"
    "left-margin page-title page-title right-margin"
    "left-margin side-menu main right-margin"
    "footer footer footer footer";

    .toolbox-wrapper {
      grid-area: footer;
      position: fixed;
      bottom: 0px;
      width: 100%;
    }
  }
}

//
// .container {
//   max-width: 1080px;
//   margin: 0px auto;
//   padding: 0px;
//
//
//   .asset-container {
//     display: grid;
//     grid-template-columns: 2fr 5fr;
//   }
//
//
// }
