<form class="manual-position-form" [formGroup]="formValidator">
  <div id="manual-position-form--latitude--wrapper">
    <mat-form-field id="manual-position-form--latitude-direction" floatLabel="always">
      <mat-label i18n>Latitude</mat-label>
      <mat-select formControlName="latitudeDirection" required>
        <mat-option id="mat-option-plugin--latitude-direction-n" value="N">N</mat-option>
        <mat-option id="mat-option-plugin--latitude-direction-s" value="S">S</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field id="manual-position-form--latitude">
      <input
        matInput
        formControlName="latitude"
        type="number"
        required
        (blur)="renderPreview()"
        (paste)="pasteLatitude($event)"
        #latitudeElement
      />
      <span matSuffix>&#176;&nbsp;</span>
      <mat-error *ngFor="let error of getErrors(['latitude'])">{{ errorMessage(error) }}</mat-error>
    </mat-form-field>
    <mat-form-field id="manual-position-form--latitude-decimals">
      <input
        matInput
        formControlName="latitudeDecimals"
        pattern="[0-9]+([\.][0-9]+)?"
        required
        (blur)="renderPreview()"
        #latitudeDecimalsElement
      />
      <span matSuffix>'</span>
      <mat-error *ngFor="let error of getErrors(['latitudeDecimals'])">{{ errorMessage(error) }}</mat-error>
    </mat-form-field>
  </div>
  <div id="manual-position-form--longitude--wrapper">
    <mat-form-field id="manual-position-form--longitude-direction" floatLabel="always">
      <mat-label i18n>Longitude</mat-label>
      <mat-select formControlName="longitudeDirection" required>
        <mat-option id="mat-option-plugin--longitude-direction-E" value="E">E</mat-option>
        <mat-option id="mat-option-plugin--longitude-direction-W" value="W">W</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field id="manual-position-form--longitude">
      <input
        matInput
        formControlName="longitude"
        type="number"
        required
        (blur)="renderPreview()"
        (paste)="pasteLongitude($event)"
        #longitudeElement
      />
      <span matSuffix>&#176;&nbsp;</span>
      <mat-error *ngFor="let error of getErrors(['longitude'])">{{ errorMessage(error) }}</mat-error>
    </mat-form-field>
    <mat-form-field id="manual-position-form--longitude-decimals">
      <input
        matInput
        formControlName="longitudeDecimals"
        pattern="[0-9]+([\.][0-9]+)?"
        required
        (blur)="renderPreview()"
        #longitudeDecimalsElement
      />
      <span matSuffix>'</span>
      <mat-error *ngFor="let error of getErrors(['longitudeDecimals'])">{{ errorMessage(error) }}</mat-error>
    </mat-form-field>
  </div>


  <mat-form-field id="manual-position-form--speed">
    <mat-label i18n>Speed</mat-label>
    <input matInput formControlName="speed" type="number" />
    <mat-error *ngFor="let error of getErrors(['speed'])">{{ errorMessage(error) }}</mat-error>
  </mat-form-field>

  <mat-form-field id="manual-position-form--heading">
    <mat-label i18n>Heading</mat-label>
    <input matInput formControlName="heading" (blur)="renderPreview()"  type="number" />
    <mat-error *ngFor="let error of getErrors(['heading'])">{{ errorMessage(error) }}</mat-error>
  </mat-form-field>

  <ngx-datetime-picker
    id="manual-position-form--timestamp"
    [(dateTime)]="formValidator.value.timestamp"
    (dateTimeChange)="updateTimestamp($event)"
    label="Time ({{userTimezone}})"
    [errorMessages]="getErrorMessages(['timestamp'])"
    [positionFromTop]="true"
    [customPopupStyle]="{ 'left': 'auto', 'right': '24px', 'bottom': '-48px' }"
  ></ngx-datetime-picker>

  <button
    id="manual-position-form--save"
    mat-button
    color="primary"
    type="button"
    [disabled]="!formValidator.valid"
    (click)="openSaveDialog()"
    i18n
  >Save manual movement</button>
</form>
