<form class="manual-position-form" [formGroup]="formValidator">
  <mat-form-field id="manual-position-form--latitude">
    <mat-label i18n>Latitude</mat-label>
    <input matInput formControlName="latitude" required (blur)="renderPreview()" />
    <mat-error *ngFor="let error of getErrors(['latitude'])">{{ errorMessage(error) }}</mat-error>
  </mat-form-field>

  <mat-form-field id="manual-position-form--longitude">
    <mat-label i18n>Longitude</mat-label>
    <input matInput formControlName="longitude" required (blur)="renderPreview()" />
    <mat-error *ngFor="let error of getErrors(['longitude'])">{{ errorMessage(error) }}</mat-error>
  </mat-form-field>

  <mat-form-field id="manual-position-form--speed">
    <mat-label i18n>Speed</mat-label>
    <input matInput formControlName="speed" required />
    <mat-error *ngFor="let error of getErrors(['speed'])">{{ errorMessage(error) }}</mat-error>
  </mat-form-field>

  <mat-form-field id="manual-position-form--heading">
    <mat-label i18n>Heading</mat-label>
    <input matInput formControlName="heading" required (blur)="renderPreview()" />
    <mat-error *ngFor="let error of getErrors(['heading'])">{{ errorMessage(error) }}</mat-error>
  </mat-form-field>

  <ngx-datetime-picker
    [(dateTime)]="formValidator.value.timestamp"
    (dateTimeChange)="updateTimestamp($event)"
    label="Time"
    [errorMessages]="getErrorMessages(['timestamp'])"
  ></ngx-datetime-picker>

  <button disabled title="Not implemented yet" id="manual-position-form--all" mat-stroked-button color="accent" type="button" i18n>Show all</button>
  <button
    id="manual-position-form--save"
    mat-raised-button
    color="primary"
    type="button"
    [disabled]="!formValidator.valid"
    (click)="save()"
    i18n
  >Save</button>
</form>
