<div class="content-container">

  <h4>
    <img
      header
      *ngIf="asset.asset.flagStateCode !== '???' && asset.asset.flagStateCode !== undefined"
      class="flag-image"
      src="/assets/flags/4x3/{{getCountryCode(asset)}}.svg"
      alt="getCountryCode(asset)"
    />
    <ui-truncated-text [text]="asset.asset.name" length="40"></ui-truncated-text>
  </h4>
  <div class="asset-information">
    <h5>Last known position</h5>
    <legend>Latitude:</legend>
    <div>{{incident.lastKnownLocation.location.latitude.toFixed(2)}}</div>
    <legend>Longitude:</legend>
    <div>{{incident.lastKnownLocation.location.longitude.toFixed(2)}}</div>
    <legend>Heading:</legend>
    <div>{{incident.lastKnownLocation.heading.toFixed(2)}}</div>
    <legend>Speed:</legend>
    <div>{{incident.lastKnownLocation.speed.toFixed(2)}}</div>
    <legend>Time:</legend>
    <div>{{formatDate(incident.lastKnownLocation.timestamp)}}</div>

    <h5>Asset information</h5>
    <ng-container *ngIf="asset.asset.ircs">
      <legend>Ircs:</legend>
      <div>{{asset.asset.ircs}}</div>
    </ng-container>
    <ng-container *ngIf="asset.asset.mmsi">
      <legend>Mmsi:</legend>
      <div>
        <a
          href="https://www.marinetraffic.com/en/ais/index/search/all?keyword={{asset.asset.mmsi}}"
          target="_blank"
        >{{asset.asset.mmsi}}</a>
      </div>
    </ng-container>
    <ng-container *ngIf="asset.asset.flagStateCode">
      <legend>Flagstate:</legend>
      <div>{{asset.asset.flagStateCode}}</div>
    </ng-container>
    <ng-container *ngIf="asset.asset.externalMarking">
      <legend>External marking:</legend>
      <div>{{asset.asset.externalMarking}}</div>
    </ng-container>
    <ng-container *ngIf="asset.asset.lengthOverAll">
      <legend>Length:</legend>
      <div>{{asset.asset.lengthOverAll}}</div>
    </ng-container>
    <ng-container *ngIf="asset.asset.licenceType">
      <legend>LicenceType:</legend>
      <div>{{asset.asset.licenceType}}</div>
    </ng-container>
    <ng-container *ngIf="asset.asset.vesselType">
      <legend>Vessel type:</legend>
      <div>{{asset.asset.vesselType}}</div>
    </ng-container>

    <ng-container *ngIf="asset.asset.prodOrgCode">
      <legend>Org. Nr:</legend>
      <div>{{asset.asset.prodOrgCode}}</div>
    </ng-container>
    <ng-container *ngIf="asset.asset.prodOrgName">
      <legend>Org. namn:</legend>
      <div>{{asset.asset.prodOrgName}}</div>
    </ng-container>
  </div>

  <button disabled title="Not implemented yet" id="show-full-log" mat-stroked-button color="primary" type="button">Show full log</button>

  <h4>Change incident status</h4>
  <map-incident-status-form
    [status]="incident.status"
    [changeStatus]="changeStatus"
  ></map-incident-status-form>
  <h4>Create manual position</h4>
  <map-manual-movement-form
    [createManualMovement]="createManualMovementCurried"
  ></map-manual-movement-form>
  <h4>New note</h4>
  <map-note-form [createNote]="createNoteWithId"></map-note-form>
</div>
