@import 'variables.scss';

.content-container {
  color: black;
  padding: $medium_distance;
  h4 {
    margin: 0;
    padding-bottom: $medium_distance;
    padding-top: $x2large_distance;
    display: grid;
    grid-column-gap: 8px;
    grid-template-columns: auto 1fr;

    &:first-child {
      padding-top: 0;
    }

    .flag-image {
      width: 20px;
      place-self: center;
    }
  }
  .asset-information{
    display: grid;
    grid-template-columns: 1fr auto;
    background: white;
    padding: $medium_distance;
    overflow-y: scroll;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
    &::-webkit-scrollbar {
      display: none;  // Safari and Chrome
    }

    h5 {
      grid-column: 1 / span 2;
      border-bottom: 1px solid $color_dark_gray;
      margin-bottom: $medium_distance;
      padding-bottom: 0px;
      padding-top: $large_distance;

      &:first-child {
        padding-top: 0px;
      }
    }

    legend {
      // font-weight: bold;
      font-size: $default_font_size;
      // text-decoration: underline;
    }

    a {
      color: black;
    }
  }
}
