<div class="content-container">
  <div class="incident-body">


    <h4>Workflow specific tools</h4>
    <map-panel-block
      *ngIf="checkPermissionForExpiryDateForm()"
      i18n-blockTitle
      blockTitle="Set expiry date"
      [active]="isBlockActive('expiryDateForm')"
      [setActiveFunction]="toggleCurrentActiveBlock('expiryDateForm')"
      [useArrowsAsToggle]="true"
      noExternalPadding="true"
    >
      <map-incident-expiry-date-form
        body
        [changeExpiryDate]="changeExpiryDate"
        [createNote]="createNoteCurried"
      ></map-incident-expiry-date-form>
    </map-panel-block>

    <map-panel-block
      *ngIf="checkPermissionForManualPoll()"
      i18n-blockTitle
      blockTitle="Send manual poll"
      [active]="isBlockActive('manuallyPoll')"
      [setActiveFunction]="toggleCurrentActiveBlock('manuallyPoll')"
      [useArrowsAsToggle]="true"
      noExternalPadding="true"
    >
      <map-incident-manual-poll-form
        body
        [incidentId]="incident.id"
        [pollIncident]="pollIncident"
      ></map-incident-manual-poll-form>
    </map-panel-block>

    <map-panel-block
      *ngIf="checkPermissionForCreateManualPosition()"
      i18n-blockTitle
      blockTitle="Create manual position"
      [active]="isBlockActive('manualPosition')"
      [setActiveFunction]="toggleCurrentActiveBlock('manualPosition')"
      [useArrowsAsToggle]="true"
      noExternalPadding="true"
    >
      <map-manual-movement-form-tooltip *ngIf="isBlockActive('manualPosition')" header></map-manual-movement-form-tooltip>
      <map-manual-movement-form
        body
        *ngIf="map !== undefined"
        [createManualMovement]="createManualMovementCurried"
        [createNote]="createNoteCurried"
        [map]="map"
        [userTimezone]="userTimezone"
      ></map-manual-movement-form>
    </map-panel-block>

    <h4>Additional tools and info</h4>
    <button
      title="Manage notes"
      mat-stroked-button
      color="primary"
      type="button"
      (click)="setActiveRightPanel(['incident', 'incidentNote'])"
      class="map-panel-button"
    ><ng-container i18n>Notes</ng-container> <i class="ri-arrow-drop-right-fill"></i></button>

    <button
      title="Full incident log"
      mat-stroked-button
      color="primary"
      type="button"
      (click)="setActiveRightPanel(['incident', 'incidentLogs'])"
      class="map-panel-button"
    ><ng-container i18n>View log</ng-container> <i class="ri-arrow-drop-right-fill"></i></button>
    <button
      title="Contact info"
      mat-stroked-button
      color="primary"
      type="button"
      routerLink="/asset/{{asset.asset.id}}/contacts"
      class="map-panel-button"
    >
      <ng-container i18n>Contact info</ng-container>
      <i class="ri-external-link-fill"></i>
    </button>
    <button
      title="Contact info"
      mat-stroked-button
      color="primary"
      type="button"
      (click)="setActiveRightPanel(['showAsset'])"
      class="map-panel-button"
    >
      <ng-container i18n>Asset info</ng-container>
      <i class="ri-external-link-fill"></i>
    </button>


  </div>

  <div class="incident-footer">
    <div class="content-block">
      <h4>Move to workflow</h4>
      <map-incident-type-form
        [type]="incident.type"
        [types]="incidentTypes"
        [changeType]="changeType"
        [disabled]="!checkPermissionForIncidentTypeForm()"
      ></map-incident-type-form>
    </div>
    <div class="notes-and-log">

    </div>

    <button
      *ngIf="checkPermissionForRegisterAttemptedContact()"
      title="Full incident log"
      id="show-full-log"
      mat-stroked-button
      color="primary"
      type="button"
      i18n
      (click)="registerAttemptedContact()"
    >Register attempted contact</button>

    <button
      *ngIf="checkPermissionForResloveButton()"
      title="Resolve incident"
      id="contact-info-button"
      mat-flat-button
      color="accent"
      type="button"
      i18n
      (click)="changeStatus('RESOLVED')"
    >Resolve incident</button>
  </div>

  <!-- <div class="asset-information">
    <h5 i18n>Last known position</h5>
    <legend i18n>Latitude:</legend>
    <div>{{lastKnownPositionFormatted.latitude}}</div>
    <legend i18n>Longitude:</legend>
    <div>{{lastKnownPositionFormatted.longitude}}</div>
    <legend i18n>Heading:</legend>
    <div>{{incident.lastKnownLocation.heading.toFixed(2)}}</div>
    <legend i18n>Speed:</legend>
    <div>{{incident.lastKnownLocation.speed.toFixed(2)}}</div>
    <legend i18n>Time:</legend>
    <div>{{formatDate(incident.lastKnownLocation.timestamp)}}</div>

    <h5 i18n>Asset information</h5>
    <ng-container *ngIf="asset.asset.ircs">
      <legend i18n>Ircs:</legend>
      <div>{{asset.asset.ircs}}</div>
    </ng-container>
    <ng-container *ngIf="asset.asset.mmsi">
      <legend i18n>Mmsi:</legend>
      <div>
        <a
          href="https://www.marinetraffic.com/en/ais/index/search/all?keyword={{asset.asset.mmsi}}"
          target="_blank"
        >{{asset.asset.mmsi}}</a>
      </div>
    </ng-container>
    <ng-container *ngIf="asset.asset.flagStateCode">
      <legend i18n>Flagstate:</legend>
      <div>{{asset.asset.flagStateCode}}</div>
    </ng-container>
    <ng-container *ngIf="asset.asset.externalMarking">
      <legend i18n>External marking:</legend>
      <div>{{asset.asset.externalMarking}}</div>
    </ng-container>
    <ng-container *ngIf="asset.asset.lengthOverAll">
      <legend i18n>Length:</legend>
      <div>{{asset.asset.lengthOverAll}}</div>
    </ng-container>
    <ng-container *ngIf="asset.asset.licenceType">
      <legend i18n>LicenceType:</legend>
      <div>{{asset.asset.licenceType}}</div>
    </ng-container>
    <ng-container *ngIf="asset.asset.vesselType">
      <legend i18n>Vessel type:</legend>
      <div>{{asset.asset.vesselType}}</div>
    </ng-container>

    <!-- <ng-container *ngIf="asset.asset.prodOrgCode">
      <legend i18n>Org. Nr:</legend>
      <div>{{asset.asset.prodOrgCode}}</div>
    </ng-container>
    <ng-container *ngIf="asset.asset.prodOrgName">
      <legend i18n>Org. namn:</legend>
      <div>{{asset.asset.prodOrgName}}</div>
    </ng-container> -->
  <!-- </div> -->

  </div>
