@import 'variables.scss';

.content-container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  width: 100%;
  color: white;
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    li {
      margin-right: $small_distance;
      display: inline-block;
      background: rgba($color_light_turquoise, 0.7);
      border-top-left-radius: $small_distance;
      border-top-right-radius: $small_distance;
      padding: $small_distance $medium_distance;
      cursor: pointer;

      // &:hover {
      //   color: $color_light_orange;
      //
      // }

      span {
        padding-bottom: 2px;
        &:hover {
          color: $color_orange;
        }
      }

      &.active {
        background: $map_overlay_background;
        span {
          border-bottom: 3px solid $color_orange;
        }
      }

      &:last-child {
        margin-right: 0px;
      }

      i.fa-times {
        margin-left: 2px;
        &:hover {
          color: black;
        }
      }
    }
  }



  .asset-information {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: $map_overlay_background;
    overflow-y: scroll;
    padding: $medium_distance;

    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
    &::-webkit-scrollbar {
      display: none;  // Safari and Chrome
    }

    fieldset {
      border: none;
      border-top: 1px solid #FFFFFF;
      legend {
        font-weight: bold;
        padding: 0px $small_distance;
        margin-left: $small_distance;
        width: fit-content;
        font-size: $default_font_size;
      }
      div {
        margin-left: calc(#{$small_distance} * 2);
      }
    }
  }
  .button-block {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .toggle-buttons {
    font-weight: bold;
  }

  .asset-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
    button {
      height: 16px;
      box-sizing: content-box;
    }
  }
  .asset-buttons-block {
    display: grid;
    grid-template-columns: 1fr;
    button {
      height: 16px;
      box-sizing: content-box;
      width: 90px;
      justify-self: center;
    }
  }

  .hide-button-wrapper {
    align-self: end;
    justify-self: center;
  }
}

.show-button {
  width: 3em;
  padding: 6px 10px;
  bottom: 0px;
  position: fixed;
}
