<map-panel-block
  [blockTitle]="asset.asset.name"
  [active]="asset.currentlyShowing"
  [setActiveFunction]="selectAssetWrapper()"
  [useArrowsAsToggle]="true"
  [showFooter]="true"
  [unstyledFooter]="true"
>
  <img
    header
    *ngIf="asset.asset.flagStateCode !== '???' && asset.asset.flagStateCode !== undefined && getCountryCode() !== '???'"
    class="flag-image"
    src="/assets/flags/4x3/{{getCountryCode()}}.svg"
    [alt]="getCountryCode(asset)"
  />
  <div body class="content-container">
    <div class="information-wrapper">
      <div class="asset-information" *ngIf="asset.currentPosition !== undefined">
        <ng-container *ngIf="asset.asset.ircs">
          <legend>Ircs:</legend>
          <div>{{asset.asset.ircs}}</div>
        </ng-container>
        <ng-container *ngIf="asset.asset.mmsi">
          <legend>Mmsi:</legend>
          <div>
            <a
              href="https://www.marinetraffic.com/en/ais/index/search/all?keyword={{asset.asset.mmsi}}"
              target="_blank"
            >{{asset.asset.mmsi}}</a>
          </div>
        </ng-container>
        <ng-container *ngIf="asset.currentPosition.microMove.speed !== null">
          <legend>Speed:</legend>
          <div>{{asset.currentPosition.microMove.speed.toFixed(2)}}</div>
        </ng-container>
        <ng-container *ngIf="asset.currentPosition.microMove.heading !== null">
          <legend>Heading:</legend>
          <div>{{asset.currentPosition.microMove.heading.toFixed(2)}}</div>
        </ng-container>
        <ng-container *ngIf="asset.asset.flagStateCode">
          <legend>Flagstate:</legend>
          <div>{{asset.asset.flagStateCode}}</div>
        </ng-container>
        <ng-container *ngIf="asset.asset.externalMarking">
          <legend>External marking:</legend>
          <div>{{asset.asset.externalMarking}}</div>
        </ng-container>
        <ng-container *ngIf="asset.asset.lengthOverAll">
          <legend>Length:</legend>
          <div>{{asset.asset.lengthOverAll}}</div>
        </ng-container>
        <ng-container *ngIf="asset.asset.licenceType">
          <legend>LicenceType:</legend>
          <div>{{asset.asset.licenceType}}</div>
        </ng-container>
        <ng-container *ngIf="asset.asset.vesselType">
          <legend>Vessel type:</legend>
          <div>{{asset.asset.vesselType}}</div>
        </ng-container>

        <ng-container *ngIf="asset.asset.prodOrgCode">
          <legend>Org. Nr:</legend>
          <div>{{asset.asset.prodOrgCode}}</div>
        </ng-container>
        <ng-container *ngIf="asset.asset.prodOrgName">
          <legend>Org. namn:</legend>
          <div>{{asset.asset.prodOrgName}}</div>
        </ng-container>
        <mat-checkbox color="primary">Track</mat-checkbox>
        <mat-checkbox color="primary">Forecast</mat-checkbox>
      </div>
    </div>
  </div>
  <div footer class="button-wrapper">
    <div class="deselect-asset" (click)="deselectAsset(asset.asset.id)">
      <i class="fas fa-trash-alt" aria-hidden="true"></i>
      <div class="deselect-asset-text">Remove from selected</div>
    </div>
    <div class="expand-asset-options"><i class="fas fa-ellipsis-h"></i></div>
    <!-- <div class="button-block">
      <ui-button-toggle
        [label]="'Track'"
        [value]="tracksIsVisible(asset)"
        [switchFunction]="toggleTracks(asset)"
      ></ui-button-toggle>
      <ui-button-toggle
        [label]="'Forecast'"
        [value]="forecastIsVisible(asset.asset.id)"
        [switchFunction]="toggleForecast(asset.asset.id)"
      ></ui-button-toggle>
      <button
        mat-stroked-button
        class="btn btn-small"
        (click)="goToAsset(asset)"
        color="primary"
      >Go To</button>
      <button
        mat-stroked-button
        routerLink="/asset/{{asset.asset.id}}"
        class="btn btn-small"
        color="primary"
      >Show asset</button>
    </div>-->
  </div>
</map-panel-block>
