@import 'variables.scss';

.flag-image {
  width: 20px;
  place-self: center;
}

.content-container {
  color: black;

  .information-wrapper {
    display: grid;
    grid-template-rows: auto 1fr;

    .asset-information {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: $medium_distance;
      grid-row-gap: $small_distance;
      overflow-y: scroll;
      -ms-overflow-style: none;  // IE 10+
      overflow: -moz-scrollbars-none;  // Firefox
      &::-webkit-scrollbar {
        display: none;  // Safari and Chrome
      }

      h2 {
         grid-column: 1 / span 2;
      }

      legend {
        // font-weight: bold;
        font-size: $default_font_size;
        // text-decoration: underline;
      }

      a {
        color: black;
      }

      mat-checkbox {
        color: $color_turquoise;
        padding: $medium_distance $small_distance;
      }

      .asset-information--last-position {
        grid-column: 1 / span 2;

        h3 {
          padding: distance(1) 0px distance(0.5);
          font-size: 14px;
        }

        .asset-information--last-position--content {
          background: rgba($color_light_turquoise, 0.1);
          padding: distance(1);
          display: grid;
          grid-row-gap: distance(0.5);

          .time-and-source {
            display: grid;
            grid-template-columns: 1fr auto;

            .time {
              font-weight: bolder;
            }
          }

          .position-speed-wrapper {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-column-gap: distance(0.5);
          }
        }
      }
    }
  }
}

.button-wrapper-minified {
  display: none;

  &.active {
    display: grid;
    grid-template-columns: 1fr;

    & > * {
      padding: $medium_distance;
      background: white;
    }

    .expand-asset-options {
      min-width: 50px;
      font-size: 20px;
      cursor: pointer;

      .icon-elipsis {
        display: grid;
        width: $x3large_distance;
        height: $x3large_distance;
        margin: 0px auto;
        &::before {
          place-self: center;
          height: distance(2.5);
          width: distance(2.5);
          content: '';
          background-size: distance(2.5) distance(2.5);
          background-image: url('/assets/svg-icons/elipsis.svg');
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.button-wrapper-expanded {
  display: none;

  &.active {
    display: grid;
    background: white;
    align-items: center;
    justify-items: center;

    .minify-button-wrapper {
      cursor: pointer;
      color: $color_turquoise;
      padding: $small_distance;
    }
  }

  .deselect-asset {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: $medium_distance;
    align-items: center;
    color: $color_warn;
    cursor: pointer;

    .icon-trash {
      display: grid;
      width: $x3large_distance;
      height: $x3large_distance;
      &::before {
        place-self: center;
        height: distance(2.5);
        width: distance(2.5);
        content: '';
        background-size: distance(2.5) distance(2.5);
        background-image: url('/assets/svg-icons/trash.svg');
        background-repeat: no-repeat;
      }
    }

    .deselect-asset-text {
      display: none;
    }

    &:hover {
      width: 100%;
      background: $color_warn;
      color: white;

      .icon-trash {
        filter: brightness(0%) invert(1);
        justify-self: end;
      }

      .deselect-asset-text {
        display: block;
      }
    }

    i {
      font-size: 20px;
    }
  }
}
