@import '~/app/src/app/variables.scss';

.content-container {
  display: grid;
  color: white;
  padding: $medium_distance;
  overflow-y: scroll;
  background: $map_overlay_background;
  border-right: 2px solid #000000;
  height: 100%;

  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }

  .asset-information {
    fieldset {
      border-top: 1px solid #FFFFFF;
      legend {
        font-weight: bold;
        padding: 0px $small_distance;
        margin-left: $small_distance;
        width: fit-content;
        font-size: $default_font_size;
      }
      div {
        margin-left: calc(#{$small_distance} * 2);
      }
    }
  }

  .asset-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
    button {
      height: 16px;
      box-sizing: content-box;
    }
  }

  .hide-button-wrapper {
    align-self: end;
    justify-self: center;
  }
}

.show-button {
  width: 3em;
  padding: 6px 10px;
  bottom: 0px;
  position: fixed;
}
