@import 'variables.scss';

.content-container {
  grid-row-gap: $medium_distance;

  h4 {
    margin: 0px;
  }

  .saved-filters {
    display: grid;
    width: 100%;
    grid-row-gap: $medium_distance;
  }

  .create-new-filter {
    display: grid;
    margin-top: $medium_distance;
  }
}
