@import 'variables.scss';

.content-container {
  grid-row-gap: $medium_distance;

  h4 {
    margin: 0px;
  }

  .saved-filters {
    display: grid;
    width: 100%;
    grid-row-gap: $medium_distance;
  }

  button.btn {
    padding: $medium_distance $large_distance;
    background-color: $color_light_green;
  }
}
