<div class="content-container">
  <div class="saved-filters" *ngIf="savedFilters.length > 0">
    <div *ngFor="let savedFilter of savedFilters; trackBy: trackBySavedFilterIds" class="saved-filter">
      <mat-checkbox
        (change)="toggleFilter(savedFilter.id)"
        title="{{savedFilter.name}}"
        [checked]="activeFilters.includes(savedFilter.name)"
      >
        <ui-truncated-text [text]="savedFilter.name" length="30"></ui-truncated-text>
      </mat-checkbox>
      <!-- <i class="ri-pencil-fill"></i> -->
      <i class="ri-delete-bin-2-fill" (click)="openDialog(myDialog, deleteFilter, savedFilter.id)"></i>
      <!-- Dialog template -->
      <ng-template #myDialog>
        <h1 matDialogTitle i18n>Delete filter?</h1>
        <mat-dialog-content i18n>
          You are about to delete the filter <b>{{savedFilter.name}}</b>. Are you sure?
        </mat-dialog-content>
        <mat-dialog-actions align="end">
          <button mat-button matDialogClose cdkFocusInitial color="primary" i18n>Cancel</button>
          <button mat-button [mat-dialog-close]="true" color="warn" i18n>Delete</button>
        </mat-dialog-actions>
      </ng-template>
    </div>
  </div>
  <div class="create-new-filter">
    <button
      *ngIf="!creatingNewFilter"
      mat-raised-button
      color="primary"
      type="button"
      (click)="creatingNewFilter = true"
    ><i class="fas fa-plus" aria-hidden="true"></i> <ng-container i18n>Create new</ng-container></button>
    <mat-form-field *ngIf="creatingNewFilter">
      <input matInput placeholder="Name" [(ngModel)]="newFilterName">
    </mat-form-field>
    <button
      *ngIf="creatingNewFilter"
      mat-raised-button
      color="primary"
      type="button"
      class="save-new-filter"
      (click)="saveFilter()"
      i18n
    >Save</button>
  </div>
</div>
