<div class="content-container">
  <div class="saved-filters" *ngIf="savedFilters.length > 0">
    <mat-checkbox
      *ngFor="let savedFilter of savedFilters; trackBy: trackBySavedFilterIds"
      (change)="toggleFilter(savedFilter.id)"
      title="{{savedFilter.name}}"
      [checked]="activeFilters.includes(savedFilter.name)"
    >
      <ui-truncated-text [text]="savedFilter.name" length="30"></ui-truncated-text>
    </mat-checkbox>
  </div>
  <div class="create-new-filter">
    <button
      *ngIf="!creatingNewFilter"
      mat-raised-button
      color="primary"
      type="button"
      (click)="creatingNewFilter = true"
    ><i class="fas fa-plus" aria-hidden="true"></i> <ng-container i18n>Create new</ng-container></button>
    <mat-form-field *ngIf="creatingNewFilter">
      <input matInput placeholder="Name" [(ngModel)]="newFilterName">
    </mat-form-field>
    <button
      *ngIf="creatingNewFilter"
      mat-raised-button
      color="primary"
      type="button"
      class="save-new-filter"
      (click)="saveFilter()"
      i18n
    >Save</button>
  </div>
</div>
