@import 'variables.scss';

.asset-edit-form {
  display: grid;
  // grid-column-gap: $x2large_distance;
  grid-template-columns: 1fr;

  fieldset {
    display: grid;
    grid-template-columns: 1fr;
    border-left: $small_distance solid $color_turquoise;
    margin-bottom: $medium_distance;

    &:last-child {
      margin-bottom: 0;
    }

    legend {
      font-weight: bolder;
      margin-top: $small_distance;
      margin-bottom: $small_distance;
    }

  }

  button#asset-form--save {
    float: right;
  }

  mat-label > .required {
    margin-left: $small_distance;
    color: red;
  }

  .length-form-field {
    input, mat-select {
      width: 50%;
    }
  }

  .tonnage-form-field {
    input, mat-select {
      width: 50%;
    }
  }
}

.asset-table-container > table {
  width: 100%;
}

.load-spinner {
  margin: 150px auto;
}

// @media (max-width: 768px) {
//   .asset-edit-form {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }
//
// @media (min-width: 992px) {
//   .asset-edit-form {
//     grid-template-columns: repeat(4, 1fr);
//   }
// }
//
// @media (min-width: 1200px) {
//   .asset-edit-form {
//     grid-template-columns: repeat(5, 1fr);
//   }
// }
