<h1 mat-dialog-title i18n>Save choosen assets to groupp <span class="selected-assets">{{data.selectedAssets.length}} asset{{data.selectedAssets.length !== 1 ? 's' : ''}}</span></h1>
<div mat-dialog-content>
  <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedGroup">
    <ul>
      <li *ngFor="let assetGroupFilter of data.assetGroupFilters">
        <mat-radio-button [value]="assetGroupFilter.id">{{assetGroupFilter.name}}</mat-radio-button>
      </li>
      <li *ngIf="!createNew" class="create-new-group" (click)="createNew = !createNew">+ Create new group</li>
      <li *ngIf="createNew && !newGroupNameDecided">
        <mat-form-field>
          <input matInput [formControl]="newGroupName" required>
        </mat-form-field>
        <button mat-raised-button color="accent" [disabled]="!newGroupName.valid" (click)="newGroupNameDecided = true" i18n>Create</button>
      </li>
      <li *ngIf="createNew && newGroupNameDecided">
        <mat-radio-button value="new">{{ newGroupName.value }}</mat-radio-button>
        <i class="ri-pencil-fill" (click)="newGroupNameDecided = false"></i>
        <i class="ri-delete-bin-2-fill" (click)="deleteNewGroup()"></i>
      </li>
    </ul>
  </mat-radio-group>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial i18n>Cancel</button>
  <button mat-button [mat-dialog-close]="returnUpdatedGroup()" [disabled]="!selectedGroup" i18n>Add to choosen group</button>
</div>
