@import 'variables.scss';

.content-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: distance(2);
  padding: distance(1);

  .description {
    b {
      display: block;
    }
  }

  .locations {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: distance(2);

    .location-wrapper {
      .location-header {
        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-column-gap: distance(1);
        margin-bottom: distance(1);
        border-bottom: 1px solid $color_dark_gray;

        .name {
          align-self: end;
          input {
            background: white;
          }
        }

        i {
          cursor: pointer;
          font-size: 150%;

          &.ri-pencil-fill:hover {
            color: $color_turquoise;
          }
          &.ri-delete-bin-2-fill:hover {
            color: $color_warn;
          }
        }
      }
      .location {
        background: $color_dark_gray;
        position: relative;
        cursor: pointer;
        min-height: 123px;
        display: grid;
        justify-items: center;
        align-items: center;
        overflow: hidden;

        img.location-image {
          max-height: 130px;
          max-width: 100%;
        }

        .location-text {
          display: grid;
          justify-items: center;
          align-items: center;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          font-size: 40px;
          color: white;
        }
      }
    }
  }
}
