@import 'variables.scss';

.type-selection {
  width: 250px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: distance(1);
  padding-bottom: distance(1);

  .mat-slide-toggle {
    font-weight: bold;
  }
}

.positions-container {
  display: grid;

  .row-element td {
    border-bottom-width: 0;
  }

  .row-details {
    overflow: hidden;

    .row-details-fields {
      display: grid;
      padding-bottom: distance(1);
      grid-template-columns: 1fr auto;
      grid-column-gap: distance(0.5);

      div {
        text-align: right;
      }
    }

    .row-details-fields-expanded {
      padding-right: distance(1);
      grid-template-columns: auto auto auto auto;

      div {
        text-align: left;
      }
    }
  }

  .row-details-hidden {
    height: 0px;
  }

  .selected {
    background: whitesmoke;
  }

  legend {
    font-size: $default_font_size;
  }
}
