<div class="content-container">
  <b i18n>
    The search field is used for centering the map on a specific ship.
  </b>
  <div i18n>
    You can search ships by name in this field and once you have chosen the desired ship in the dropdown the map will center around that ship.
  </div>
  <div i18n>The dropdown is sorted alphabetically and shows the top 10 results.</div>
  <div class="information-block">
    The search will try to find any ship containing that letter combination.
    <h4>Example</h4>
    <div class="example">
      The search query <b><u>as</u></b> will give you ships such as <b><u>As</u></b>kungen but also ships like B<b><u>as</u></b>to.
    </div>
  </div>

  <b class="title" i18n>Advanced searches:</b>
  <div class="information-block">
    <div class="command">
      <h3>!</h3>
      <div i18n>
        By starting with an exlamation mark the filter will instead try to find any ship <u>not</u> containing the given text.
      </div>
    </div>
    <h4>Example</h4>
    <div class="example">
      The filter query <b><u>!as</u></b> will give you all ships not shown in the previous example.
    </div>
  </div>
  <div class="information-block">
    <div class="command">
      <h3>/c</h3>
      <div i18n>By starting your command with <b><u>/c</u></b> you can go directly to a specific cordinate.</div>
    </div>
    <h4>Example</h4>
    <div class="example">
      <b><u>/c 58.43562 17.45620</u></b>
    </div>
  </div>
</div>
