<div class="content-container {{hidePanel ? 'hidden' : ''}}">
  <ng-template [ngIf]="!hidePanel">
    <ui-button-close [clickFunction]="toggleVisibility"></ui-button-close>
    <table class="table track-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Lat</th>
          <th>Long</th>
          <th>Heading</th>
          <th>Speed</th>
          <th>Time</th>
          <th>Source</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let positionKey of positionKeys()">
          <td>{{positionKey}}</td>
          <td>{{positions[positionKey].location.latitude.toFixed(5)}}</td>
          <td>{{positions[positionKey].location.longitude.toFixed(5)}}</td>
          <td>{{positions[positionKey].heading.toFixed(2)}}</td>
          <td>{{positions[positionKey].speed.toFixed(2)}}</td>
          <td>{{getFormatedDate(positions[positionKey].timestamp)}}</td>
          <td>{{positions[positionKey].source}}</td>
          <td><i class="fas fa-trash" aria-hidden="true" (click)="removePositionForInspection(positionKey)"></i></td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>
<button class="show-button btn btn-primary" *ngIf="hidePanel" (click)="hidePanel = !hidePanel">
  <i class="fas fa-chevron-up"></i>
</button>
