@import 'variables.scss';

.content-container {
  position: fixed;
  margin: auto;
  right: 0;
  left: 0;
  width: 500px;
  bottom: 0px;
  background: $map_overlay_background;
  border-right: 2px solid #000000;
  border-left: 2px solid #000000;
  border-top: 2px solid #000000;

  color: white;
  padding: $medium_distance;
  overflow-y: scroll;

  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }

  ui-button-close {
    position: absolute;
    top: $small_distance;
    right: $medium_distance;
  }

  .track-table {
    margin-bottom: 0px;
    th, td {
      padding: 0 $small_distance;
    }
  }

  div {
    cursor: pointer;
  }
}

.show-button {
  position: fixed;
  margin: auto;
  right: 0;
  left: 0;
  width: 3em;
  padding: 6px 10px;
  bottom: 0px;
}
