@import 'variables.scss';

.layout-top-menu.navbar {
  background: $color_blue;
  color: white;
  height: $navbar_height;
  display: grid;
  grid-template-columns: auto 1fr auto auto;

  a {
    color: white;
    text-decoration: none;
  }

  .navbar-brand-and-version {
    margin: auto 0px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: distance(1);

    .app-version {
      place-self: center;
      font-size: 75%;
    }

    .navbar-brand {
      padding-left: distance(1);

      i.brand-image {
        display: block;
        background: url('/assets/UVMS_logo.svg');
        height: 32px;
        width: 103.375px;
        background-size: 103.375px 32px;
        margin-top: distance(-0.5);
      }
    }
  }

  ul.navbar-nav {
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    justify-content: start;
    list-style: none;
    padding-left: distance(6);

    li.nav-item {
      display: inline-block;
      margin-right: $large_distance;
      &:last-child {
        margin-right: 0px;
      }

      &.active a {
        border-bottom: 2px solid white;
      }

      a:hover {
        color: white;
      }

      .secret {
        padding-left: distance(1);
        font-size: 7px;
      }

    }
  }

  ul.navbar-nav.right-bar {
    padding-right: $large_distance;

    .current-time {
      margin-right: distance(1);
    }

    a {
      cursor: pointer;
    }

    .timezone-selector {
      padding: 0px;
      min-width: 200px;

      .mat-select-value-text {
        color: white;
      }
      .mat-select-arrow {
        color: white;
      }
    }

    .icon-user-name  {
      display: inline-block;
      background: url('/assets/svg-icons/person-fill.svg');
      background-size: 20px 20px;
      width: 20px;
      min-height: 20px;
      margin-right: distance(1);
    }
  }

  core-logout-timer-component {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding-right: distance(4);
  }
}
