<div class="content-container">
  <ul id="realtime-left-column-menu">
    <li
      (click)="setActivePanel('filters')"
    ><i class="icon-search {{activePanel === 'filters' ? 'active' : '' }}" aria-hidden="true"></i></li>
    <li
      *ngIf="!noWorkflow"
      (click)="setActivePanel('workflows')"
    ><i class="icon-workflow {{activePanel === 'workflows' ? 'active' : '' }}" aria-hidden="true"></i></li>
  </ul>
  <div class="panel filter-panel" *ngIf="activePanel === 'filters'">
    <h3 i18n>Filter map</h3>
    <map-panel-block
      i18n-blockTitle
      blockTitle="Quick filter"
      [active]="filtersActive.filter"
      [setActiveFunction]="setGivenFilterActiveCurry('filter')"
    >
      <map-asset-filter
        body
        [filterFunction]="filterAssets"
        [filterQuerySaved]="currentFilterQuery$ | async"
      ></map-asset-filter>
    </map-panel-block>
    <map-panel-block
      i18n-blockTitle
      blockTitle="Saved filters"
      [active]="filtersActive.savedFilters"
      [setActiveFunction]="setGivenFilterActiveCurry('savedFilters')"
    >
      <map-saved-filters
        body
        [filterQuery]="currentFilterQuery$ | async"
        [saveFilterFunction]="saveFilter"
        [savedFilters]="savedFilters$ | async"
        [activeFilters]="activeFilters$ | async"
        [activateFilter]="activateSavedFilter"
        [deactivateFilter]="deactivateSavedFilter"
      ></map-saved-filters>
    </map-panel-block>
    <map-panel-block
      i18n-blockTitle
      blockTitle="Asset groups"
      [active]="filtersActive.assetGroups"
      [setActiveFunction]="setGivenFilterActiveCurry('assetGroups')"
    >
      <map-asset-groups
        body
        [assetGroups]="assetGroupFilters$ | async"
        [selectedAssetGroups]="activeFilters$ | async"
        [setAssetGroup]="activateSavedFilter"
        [clearAssetGroup]="deactivateSavedFilter"
        [deleteFilter]="deleteFilter"
      ></map-asset-groups>
    </map-panel-block>
    <div class="search-container">
      <div class="search-header">Search</div>
      <div class="search-content">
        <map-asset-search
          body
          [autocompleteFunction]="searchAutocomplete"
          [autocompleteResult]="searchAutocompleteResult$ | async"
          [centerMapOnPosition]="centerMapOnPosition"
          [selectAsset]="selectAsset"
        ></map-asset-search>
      </div>
    </div>
  </div>
  <div class="panel workflow-panel" *ngIf="activePanel === 'workflows'">
    <h3 i18n>Workflows</h3>
    <map-panel-block
      i18n-blockTitle
      blockTitle="Assets not sending"
      [active]="filtersActive.assetsNotSendingIncicents"
      [setActiveFunction]="setGivenWorkflowActive('assetsNotSendingIncicents')"
      [useArrowsAsToggle]="true"
    >
      <div header class="notifications" *ngIf="incidentNotificationsByType !== undefined && incidentNotificationsByType.assetNotSending !== undefined">
        <span class="created" *ngIf="countNotificationsOfType(incidentNotificationsByType.assetNotSending, 'created') > 0">
          {{countNotificationsOfType(incidentNotificationsByType.assetNotSending, 'created')}}
        </span>
        <span class="updated" *ngIf="countNotificationsOfType(incidentNotificationsByType.assetNotSending, 'updated') > 0">
          {{countNotificationsOfType(incidentNotificationsByType.assetNotSending, 'updated')}}
        </span>
      </div>
      <map-incidents
        body
        *ngIf="filtersActive.assetsNotSendingIncicents"
        [incidents]="assetNotSendingIncidents"
        [selectIncident]="selectIncident"
        [incidentNotifications]="incidentNotificationsByType.assetNotSending"
      ></map-incidents>
    </map-panel-block>
    <map-panel-block
      i18n-blockTitle
      blockTitle="Fishing Activity"
      [active]="false"
      [setActiveFunction]="emptyClick"
      [useArrowsAsToggle]="true"
    >
    </map-panel-block>
    <map-panel-block
      i18n-blockTitle
      blockTitle="Long termed parked"
      [active]="false"
      [setActiveFunction]="emptyClick"
      [useArrowsAsToggle]="true"
    >
    </map-panel-block>
    <map-panel-block
      i18n-blockTitle
      blockTitle="New Assets"
      [active]="false"
      [setActiveFunction]="emptyClick"
      [useArrowsAsToggle]="true"
    >
    </map-panel-block>
    <map-panel-block
      i18n-blockTitle
      blockTitle="AIS Assets"
      [active]="false"
      [setActiveFunction]="emptyClick"
      [useArrowsAsToggle]="true"
    >
    </map-panel-block>
    <map-panel-block
      i18n-blockTitle
      blockTitle="Static VMS Assets"
      [active]="false"
      [setActiveFunction]="emptyClick"
      [useArrowsAsToggle]="true"
    >
    </map-panel-block>
    <map-panel-block
      i18n-blockTitle
      blockTitle="Risk Assets"
      [active]="false"
      [setActiveFunction]="emptyClick"
      [useArrowsAsToggle]="true"
    >
    </map-panel-block>
    <map-panel-block
      i18n-blockTitle
      blockTitle="MMSI duplicates"
      [active]="false"
      [setActiveFunction]="emptyClick"
      [useArrowsAsToggle]="true"
    >
    </map-panel-block>
    <map-panel-block
      i18n-blockTitle
      blockTitle="Active Prior Notification"
      [active]="false"
      [setActiveFunction]="emptyClick"
      [useArrowsAsToggle]="true"
    >
    </map-panel-block>
    <map-panel-block
      i18n-blockTitle
      blockTitle="Entry & Exit Assets"
      [active]="false"
      [setActiveFunction]="emptyClick"
      [useArrowsAsToggle]="true"
    >
    </map-panel-block>
  </div>
</div>
