@import 'variables.scss';

.content-container {
  background: $color_cold_gray;
  min-height: 100%;
  max-height: calc(100vh - #{$navbar_height});
  overflow: auto;

  #realtime-left-column-menu {
    position: absolute;
    left: 250px;
    top: 60px;
    z-index: 200;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-row-gap: $medium_distance;

    li {
      white-space: nowrap;
      cursor: pointer;

      .icon-search {
        @include left-icon('/assets/svg-icons/search.svg');
      }
      .icon-workflow {
        @include left-icon('/assets/svg-icons/workflow.svg');
      }

    }
  }
  .panel {
    display: grid;

    h3 {
      justify-self: center;
    }

    .search-container {
      position: absolute;
      bottom: 0px;
      border-top: 2px solid $color_dark_gray;

      display: grid;
      grid-row-gap: 2px;
      padding: $small_distance;

      & > * {
        background: white;
        padding: $small_distance;
      }
    }
  }
}
