<div class="content-container {{ columnHidden ? 'panel-hidden' : ''}} {{ columnExpanded ? 'panel-expanded' : ''}}">
  <div id="minimize-left-column" (click)="hideLeftColumn(!columnHidden)" *ngIf="!columnExpanded">
    <i class="ri-arrow-right-s-line" aria-hidden="true" *ngIf="columnHidden"></i>
    <i class="ri-arrow-left-s-line" aria-hidden="true" *ngIf="!columnHidden"></i>
  </div>
  <div id="expand-left-column" (click)="expandColumn(!columnExpanded)" *ngIf="!columnHidden && activePanel[0] === 'tracks'">
    <i class="ri-arrow-right-s-line" aria-hidden="true" *ngIf="!columnExpanded"></i>
    <i class="ri-arrow-left-s-line" aria-hidden="true" *ngIf="columnExpanded"></i>
  </div>
  <ul id="realtime-left-column-menu">
    <li
      (click)="setActivePanelAndShowColumn(['filters'])"
    ><i class="icon-search {{activePanel[0] === 'filters' ? 'active' : '' }}" aria-hidden="true"></i></li>
    <li
      *ngIf="!noWorkflow"
      (click)="setActivePanelAndShowColumn(['workflows'])"
    ><i class="icon-workflow {{activePanel[0] === 'workflows' ? 'active' : '' }}" aria-hidden="true"></i></li>
    <ng-container *ngIf="selectedAsset && selectedAsset.assetTracks">
      <li
        (click)="setActivePanelAndShowColumn(['tracks'])"
      ><i class="icon-tracks {{activePanel[0] === 'tracks' ? 'active' : '' }}" aria-hidden="true"></i></li>
    </ng-container>
  </ul>
  <div class="panel filter-panel" *ngIf="activePanel[0] === 'filters'">
    <h3 i18n>Filter map</h3>
    <map-panel-block
      i18n-blockTitle
      blockTitle="Quick filter"
      [active]="filtersActive.filter"
      [setActiveFunction]="setGivenFilterActiveCurry('filter')"
    >
      <map-asset-filter
        body
        [filterFunction]="filterAssets"
        [filterQuerySaved]="currentFilterQuery$ | async"
        [setActiveInformationPanel]="setActiveInformationPanel"
        [setActiveRightPanel]="setActiveRightPanel"
      ></map-asset-filter>
    </map-panel-block>
    <map-panel-block
      i18n-blockTitle
      blockTitle="Saved filters"
      [active]="filtersActive.savedFilters"
      [setActiveFunction]="setGivenFilterActiveCurry('savedFilters')"
    >
      <map-saved-filters
        body
        [filterQuery]="currentFilterQuery$ | async"
        [saveFilterFunction]="saveFilter"
        [savedFilters]="savedFilters$ | async"
        [activeFilters]="activeFilters$ | async"
        [activateFilter]="activateSavedFilter"
        [deactivateFilter]="deactivateSavedFilter"
        [deleteFilter]="deleteFilter"
      ></map-saved-filters>
    </map-panel-block>
    <map-panel-block
      i18n-blockTitle
      blockTitle="Asset groups"
      [active]="filtersActive.assetGroups"
      [setActiveFunction]="setGivenFilterActiveCurry('assetGroups')"
    >
      <map-asset-groups
        body
        [assetGroups]="assetGroupFilters"
        [assets]="assetsForAssetGroups"
        [selectedAssetGroups]="activeFilters$ | async"
        [setAssetGroup]="activateSavedFilter"
        [clearAssetGroup]="deactivateSavedFilter"
        [deleteFilter]="deleteFilter"
        [saveFilter]="saveFilter"
      ></map-asset-groups>
    </map-panel-block>
    <h3 class="search-in-map-h3" i18n>Search in map</h3>
    <div class="search-container">
      <div class="search-header" i18n>Search in map</div>
      <div class="search-content">
        <map-asset-search
          body
          [autocompleteFunction]="searchAutocomplete"
          [autocompleteResult]="searchAutocompleteResult$ | async"
          [centerMapOnPosition]="centerMapOnPosition"
          [setActiveInformationPanel]="setActiveInformationPanel"
          [selectAsset]="selectAsset"
          [setActiveRightPanel]="setActiveRightPanel"
        ></map-asset-search>
      </div>
    </div>
  </div>
  <div class="panel workflow-panel" *ngIf="activePanel[0] === 'workflows'">
    <h3 i18n>Workflows</h3>
    <div class="workflow-panel-bg">
      <map-incidents-asset-not-sending class="panel workflow-panel-main"
        [active]="activePanel[1] === 'ASSET_NOT_SENDING'"
        [incidents]="incidentsByTypeAndStatus.assetNotSending"
        [selectedIncident]="selectedIncident"
        [selectIncident]="selectIncident"
        [setActiveFunction]="toggleLastInPanelTree(['workflows', 'ASSET_NOT_SENDING'])"
        [showResolvedOnMap]="toggleLastInPanelTree(['workflows', 'ASSET_NOT_SENDING', 'RESOLVED'])"
        [userTimezone]="userTimezone$ | async"
      ></map-incidents-asset-not-sending>
      <map-incidents-manual-position-mode class="panel workflow-panel-sub"
        [incidents]="incidentsByTypeAndStatus.manualPositionMode"
        [selectedIncident]="selectedIncident"
        [active]="activePanel[1] === 'MANUAL_POSITION_MODE'"
        [selectIncident]="selectIncident"
        [setActiveFunction]="toggleLastInPanelTree(['workflows', 'MANUAL_POSITION_MODE'])"
        [showResolvedOnMap]="toggleLastInPanelTree(['workflows', 'MANUAL_POSITION_MODE', 'RESOLVED'])"
        [userTimezone]="userTimezone$ | async"
      ></map-incidents-manual-position-mode>
      <map-incidents-seasonal-fishing class="panel workflow-panel-sub"
        [active]="activePanel[1] === 'SEASONAL_FISHING'"
        [incidents]="incidentsByTypeAndStatus.seasonalFishing"
        [selectedIncident]="selectedIncident"
        [selectIncident]="selectIncident"
        [setActiveFunction]="toggleLastInPanelTree(['workflows', 'SEASONAL_FISHING'])"
        [showResolvedOnMap]="toggleLastInPanelTree(['workflows', 'SEASONAL_FISHING', 'RESOLVED'])"
        [userTimezone]="userTimezone$ | async"
      ></map-incidents-seasonal-fishing>
      <map-incidents-parked class="panel workflow-panel-sub"
        [active]="activePanel[1] === 'PARKED'"
        [incidents]="incidentsByTypeAndStatus.parked"
        [selectedIncident]="selectedIncident"
        [selectIncident]="selectIncident"
        [setActiveFunction]="toggleLastInPanelTree(['workflows', 'PARKED'])"
        [showResolvedOnMap]="toggleLastInPanelTree(['workflows', 'PARKED', 'RESOLVED'])"
        [userTimezone]="userTimezone$ | async"
      ></map-incidents-parked>
      <map-incidents-ownership-transfer class="panel workflow-panel-sub"
        [active]="activePanel[1] === 'OWNERSHIP_TRANSFER'"
        [incidents]="incidentsByTypeAndStatus.ownershipTransfer"
        [selectedIncident]="selectedIncident"
        [selectIncident]="selectIncident"
        [setActiveFunction]="toggleLastInPanelTree(['workflows', 'OWNERSHIP_TRANSFER'])"
        [showResolvedOnMap]="toggleLastInPanelTree(['workflows', 'OWNERSHIP_TRANSFER', 'RESOLVED'])"
        [userTimezone]="userTimezone$ | async"
      ></map-incidents-ownership-transfer>
  </div>
    <!-- <map-panel-block
      i18n-blockTitle
      blockTitle="Fishing Report"
      [active]="false"
      [setActiveFunction]="emptyClick"
      [useArrowsAsToggle]="true"
    >
    </map-panel-block>

    </map-panel-block>
    <map-panel-block
      i18n-blockTitle
      blockTitle="New Assets"
      [active]="false"
      [setActiveFunction]="emptyClick"
      [useArrowsAsToggle]="true"
    >
    </map-panel-block>
    <map-panel-block
      i18n-blockTitle
      blockTitle="AIS Assets"
      [active]="false"
      [setActiveFunction]="emptyClick"
      [useArrowsAsToggle]="true"
    >
    </map-panel-block>
    <map-panel-block
      i18n-blockTitle
      blockTitle="Static VMS Assets"
      [active]="false"
      [setActiveFunction]="emptyClick"
      [useArrowsAsToggle]="true"
    >
    </map-panel-block>
    <map-panel-block
      i18n-blockTitle
      blockTitle="Risk Assets"
      [active]="false"
      [setActiveFunction]="emptyClick"
      [useArrowsAsToggle]="true"
    >
    </map-panel-block>
    <map-panel-block
      i18n-blockTitle
      blockTitle="MMSI duplicates"
      [active]="false"
      [setActiveFunction]="emptyClick"
      [useArrowsAsToggle]="true"
    >
    </map-panel-block>
    <map-panel-block
      i18n-blockTitle
      blockTitle="Active Prior Notification"
      [active]="false"
      [setActiveFunction]="emptyClick"
      [useArrowsAsToggle]="true"
    >
    </map-panel-block>-->
    <!-- <map-panel-block
      i18n-blockTitle
      blockTitle="Entry & Exit Assets"
      [active]="false"
      [setActiveFunction]="emptyClick"
      [useArrowsAsToggle]="true"
    >
    </map-panel-block> -->
  </div>
  <div class="panel" *ngIf="activePanel[0] === 'tracks'">
    <h3 i18n>Tracks</h3>
    <map-tracks-panel class="panel tracks-panel"
      [track]="selectedAsset.assetTracks"
      [userTimezone]="userTimezone$ | async"
      [selectedMovement]="selectedMovement"
      [selectMovement]="selectMovement"
      [panelExpanded]="columnExpanded"
    ></map-tracks-panel>
  </div>
</div>
