@import 'variables.scss';

.content-container {
  background: $color_cold_gray;
  min-height: 100%;
  max-height: calc(100vh - #{$navbar_height});
  overflow: auto;
  width: $left_column_width;
  transition: width $panel_animation_time ease-out;

  #minimize-left-column, #realtime-left-column-menu {
    transition: left $panel_animation_time ease-out;
  }

  #minimize-left-column {
    position: absolute;
    left: 320px;
    top: 360px;
    z-index: 200;
    overflow: hidden;

    background: $color_cold_gray;
    height: distance(5);
    width: distance(3);
    border-top-right-radius: distance(3);
    border-bottom-right-radius: distance(3);

    cursor: pointer;

    &:hover {
      background: #FFFFFF;
    }

    display: grid;
    i {
      margin-right: distance(0.5);
      place-self: center;
      font-size: distance(3);
      overflow: hidden;
    }
  }

  #realtime-left-column-menu {
    position: absolute;
    left: 320px;
    top: 60px;
    z-index: 200;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-row-gap: $medium_distance;

    li {
      white-space: nowrap;
      cursor: pointer;

      .icon-search {
        @include svg-left-icon('/assets/svg-icons/search.svg');
      }
      .icon-workflow {
        @include svg-left-icon('/assets/svg-icons/workflow.svg');
      }

    }
  }
  .panel {
    display: grid;

    h3 {
      justify-self: center;
    }
  }

  .filter-panel {
    h3.search-in-map-h3 {
      padding: distance(4) 0px distance(1);
    }

    .search-container {
      display: grid;
      grid-row-gap: 2px;
      padding: distance(1);

      & > * {
        background: white;
        padding: distance(1);
      }
      .search-header {
        color: $color_turquoise;
        padding: distance(2) distance(1);
      }
      .search-content {
        display: grid;
      }
    }
  }

  .workflow-panel-bg {
    margin-right: 8px;
    background-color: #cacaca;
    padding: 5px;
    border-radius: 0px 7px 7px 0px;
  }
  .workflow-panel {
    grid-template-rows: repeat(10, auto) 1fr;
    .workflow-panel-sub {
      padding-left: 30px;
    }
  }



  &.panel-hidden {
    width: 0px;
    #minimize-left-column, #realtime-left-column-menu {
      left: 0px;
    }

    .panel {
      opacity: 0;
    }
  }
}
