@import 'variables.scss';

.fishing-report-container {
  .fishing-report-table-container > table {
    width: 100%;
  }

  .no-results {
    padding: distance(3);
    background: white;
    text-align: center;
  }

  .fishing-report-table-container .cdk-row {
    cursor: pointer;

    &:hover {
      background-color: rgba( $color_blue, 0.2);
      text-decoration: underline;
    }
  }
}
