<div class="overlay">
  <div class="content-container">
    <h2 i18n>Choose time span</h2>
    <form class="period-selector-form" [formGroup]="formValidator">
      <div class="period-selector-form--date-wrapper">
        <mat-form-field id="period-selector-form--periodLength">
          <mat-label i18n>Period length</mat-label>
          <mat-select formControlName="periodLength" required>
            <mat-option *ngFor="let period of periods" id="mat-option-plugin-{{period.value}}" [value]="period.value">{{period.label}}</mat-option>
          </mat-select>
        </mat-form-field>

        <ngx-datetime-picker
          [(dateTime)]="formValidator.value.to"
          (dateTimeChange)="updateTo($event)"
          label="End date"
          [errorMessages]="getErrorMessages(['to'])"
        ></ngx-datetime-picker>
      </div>
      <button
        id="period-selector-form--search"
        mat-raised-button
        color="primary"
        type="button"
        [disabled]="!formValidator.valid"
        (click)="getReport()"
        i18n
      >Get report</button>
    </form>
  </div>
</div>
