@import 'variables.scss';

.popup-coordinates {
  ui-button-close {
    float: right;
  }
  padding: $medium_distance;
  background: white;
  border: 1px solid $color_gray;

  h4 {
    padding-top: distance(1.5);
    padding-bottom: 0px;

    &:first-of-type {
      padding-top: 0px;
    }
  }
}
