@import 'variables.scss';

.countdown {
  position: relative;
  display: grid;
  height: 100%;

  .seconds {
    place-self: center;
  }
  mat-progress-spinner {
    position: absolute;
    top: distance(0.5);
  }
}
