@import 'variables.scss';

$map_trip_player_right_offset: distance(7);
$control_panel_right_offset: 148px;

.reports-container {
  height: calc(100% - #{$navbar_height});
  display: grid;
  grid-template-columns: 1fr;

  map-left-column {
    position: absolute;
    left: 0px;
    height: calc(100% - #{$navbar_height});
    z-index: 200;
  }
  map-right-column {
    position: absolute;
    right: 0px;
    height: calc(100% - #{$navbar_height});
    z-index: 200;
  }

  .map-container {
    height: 100%;
    position: relative;

    #reports-map {
      height: 100%;
      width: 100%;
    }

    map-trip-player {
      position: absolute;
      bottom: calc(#{$medium_distance} + #{$x4large_distance});
      right: calc(#{$right_column_width} + #{$map_trip_player_right_offset});
      transition: right $panel_animation_time ease-out;
      width: 500px;
    }


    .control-panel {
      position: absolute;
      bottom: $medium_distance;
      right: calc(#{$right_column_width} + #{$control_panel_right_offset});
      transition: right $panel_animation_time ease-out;

      .control-panel-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: $medium_distance;

        li {
          white-space: nowrap;
          cursor: pointer;

          .control-panel-submenu {
            position: absolute;
            bottom: $x4large_distance;
          }

          .icon-map-layers {
            @include svg-icon('/assets/svg-icons/layers.svg');
          }
          .icon-distance-between-points {
            @include svg-icon('/assets/svg-icons/messure.svg');
          }
          .icon-asset-layers {
            @include svg-icon('/assets/svg-icons/eye.svg');
          }
          .icon-map-locations {
            @include svg-icon('/assets/svg-icons/map.svg');
          }
          .icon-center-sweden {
            @include svg-icon('/assets/svg-icons/target.svg');
          }
        }
      }
    }

    &.map-right-column-hidden {
      map-trip-player {
        right: $map_trip_player_right_offset;
      }

      .control-panel {
        right: $control_panel_right_offset;
      }
    }
  }
}
