@import 'variables.scss';

.page-content {
  .mobileTerminal {
    margin-top: $distance;
    background: white;
    padding: distance(2);
    display: grid;
    grid-row-gap: $distance;
    margin-bottom: distance(2);
  }

  // #channels {}

  .row {
    display: grid;
    grid-template-columns: 1fr auto;

    .title .text{
      display: grid;
      grid-template-columns: auto 1fr;

      &:after {
        content: "";
        border-bottom: 2px dotted $color_gray;
        margin-left: $distance;
        margin-right: $distance;
      }
    }

    .value {
      font-weight: bold;
      &.ocean-regions span {
        &:after {
          content: ', ';
        }
        &:last-child:after {
          content: '';
        }
      }
    }
  }
}

.toolbox {
  .active-toggle-wrapper {
    display: grid;
    justify-items: center;
  }

  .active-mobile-terminal, .deactive-mobile-terminal {
    text-align: center;
  }
  .active-mobile-terminal {
    color: $color_accent;
  }
  .deactive-mobile-terminal {
    color: $color_warn;
  }
  .divider {
    border-top: distance(0.5) solid $color_gray;
  }
}
