@import 'variables.scss';

.page-content {
  .mobile-terminal-list-wrapper {
    // margin-top: distance(3);
  }
}

.toolbox {
  .active-toggle-wrapper {
    display: grid;
    justify-items: center;
  }

  .active-mobile-terminal, .deactive-mobile-terminal {
    text-align: center;
  }
  .active-mobile-terminal {
    color: $color_accent;
  }
  .deactive-mobile-terminal {
    color: $color_warn;
  }
  .divider {
    border-top: distance(0.5) solid $color_gray;
  }
}
