@import 'variables.scss';

.content-container-minimal {
  display: grid;
  grid-row-gap: $medium_distance;
  color: $color_turquoise;

  .layer-filters {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: $small_distance;

    mat-checkbox {
      background: white;
      padding: $small_distance $medium_distance;
    }
  }

  .viewport-wrapper.visible {
    display: grid;
    color: white;
    padding: 10px;
    overflow-y: scroll;
    background: $map_overlay_background;

    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
    &::-webkit-scrollbar {
      display: none;  // Safari and Chrome
    }

    b.headline {
      text-decoration: underline;
      margin-bottom: $small_distance;
    }

  }
}
