<div class="content-container-minimal">
  <div class="layer-filters">
    <mat-checkbox
      (change)="toggleNames()"
      title="{{namesDisabled ? 'Names disabled due to zoom-level' : (mapSettings.settings.namesVisible ? 'Hide names' : 'Show names')}}"
      [disabled]="namesDisabled"
      [checked]="mapSettings.settings.namesVisible"
    >Asset names</mat-checkbox>
    <mat-checkbox
      (change)="toggleSpeeds()"
      title="{{speedsDisabled ? 'Speeds disabled due to zoom-level' : (mapSettings.settings.speedsVisible ? 'Hide speeds' : 'Show speeds')}}"
      [disabled]="speedsDisabled"
      [checked]="mapSettings.settings.speedsVisible"
    >Speed</mat-checkbox>
    <mat-checkbox
      (change)="toggleFlags()"
      title="{{flagsDisabled ? 'Flags disabled due to zoom-level' : (mapSettings.settings.flagsVisible ? 'Hide flags' : 'Show flags')}}"
      [disabled]="flagsDisabled"
      [checked]="mapSettings.settings.flagsVisible"
    >Nationality</mat-checkbox>
    <mat-checkbox
      (change)="toggleTracks()"
      title="{{tracksDisabled ? 'Tracks disabled due to zoom-level' : (mapSettings.settings.tracksVisible ? 'Hide tracks' : 'Show tracks')}}"
      [disabled]="tracksDisabled"
      [checked]="mapSettings.settings.tracksVisible"
    >Tracks</mat-checkbox>
    <mat-checkbox
      (change)="toggleForecast()"
      title="{{forecastsDisabled ? 'Forecasts disabled due to zoom-level' : (mapSettings.settings.forecastsVisible ? 'Hide forecasts' : 'Show forecasts')}}"
      [disabled]="forecastsDisabled"
      [checked]="mapSettings.settings.forecastsVisible"
    >Forecasts</mat-checkbox>
  </div>
</div>
