<div class="content-container">
  <form>
    <h4>Sign in</h4>

    <!-- Username -->
    <mat-form-field>
      <input id="loginFormUsername" matInput placeholder="Username" #username>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field>
      <input id="loginFormPassword" type="password" matInput placeholder="Password" #password>
    </mat-form-field>

    <div>
      <!-- Forgot password -->
      <a href="#">Forgot password?</a>
    </div>

    <!-- Sign in button -->
    <button
      class="btn btn-primary"
      type="submit"
      (click)="submitLogin(username.value, password.value)"
    >Sign in</button>

  </form>
</div>
