@import 'variables.scss';

map-asset-search {
  .content-container {
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
    &::-webkit-scrollbar {
      display: none;  // Safari and Chrome
    }

    label {
      margin: 0.25rem 0;
    }

    .mat-form-field {
      color: black;
      .mat-form-field-infix {
        background: white;
        margin-top: 6px;
        padding: 4px 0px;
        border-top: none;
      }
      .mat-form-field-wrapper {
          padding-bottom: 0;
      }
      .mat-form-field-underline {
        position: unset;
        background-color: rgba($color_orange, .42);
      }
    }
    .mat-form-field-wrapper {
      padding-bottom: 0px;
    }

    .mat-form-field-appearance-legacy .mat-form-field-label {
      top: 1em;
    }

    .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
    .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill+.mat-form-field-label-wrapper .mat-form-field-label {
      -webkit-transform: translateY(-1.3em) scale(.75) perspective(100px) translateY(0.001px);
      transform: translateY(-1.3em) scale(.75) perspective(100px) translateY(0.001px);
      -ms-transform: translateY(-1.3em) scale(.75);
      color: white;
    }

  }
}
