@import 'variables.scss';

.content-container {
  display: grid;
  position: relative;

  .ri-question-fill {
    color: $color_turquoise;
    font-size: distance(3);
    position: absolute;
    right: 0px;
    cursor: pointer;
    z-index: 10;
  }
}
