<asset-show-positions
  [positions]="positions$ | async"
  [coordinateFormat]="coordinateFormat.value"
  [userTimezone]="userTimezone$ | async"
  [assetName]="asset.name"
  [licence]="licence$ | async"
></asset-show-positions>
<ng-template #toolbox>
  <div class="toolbox-wrapper">
    <div class="toolbox">
      <mat-form-field>
        <mat-label i18n>Coordinate system</mat-label>
        <mat-select [formControl]="coordinateFormat" selected="DD" required>
          <mat-option id="mat-option-plugin--format-dd" value="DD">DD</mat-option>
          <mat-option id="mat-option-plugin--format-ddm" value="DDM">DDM</mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        routerLink="/map/realtime/{{asset.id}}"
        i18n
      >Show on map</button>
    </div>
  </div>
</ng-template>
