@import 'variables.scss';

.loading-overlay {
  position: absolute;
  width: 100%; /* Full width (cover the whole page) */
  height: calc(100% - #{$navbar_height});
  top: #{$navbar_height};
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba( $color_black, 0.7);
  z-index: 2;
  color: white;
  display: grid;
  justify-items: center;
  h2 {
    font-size: $h1_font_size;
    align-self: center;
  }
}

.realtime-container {
  height: calc(100% - #{$navbar_height});
  display: grid;
  grid-template-columns: 320px 1fr 320px;

  .map-container {
    height: 100%;
    position: relative;

    #realtime-map {
      height: 100%;
      width: 100%;
    }

    .control-panel {
      position: absolute;
      bottom: $medium_distance;
      right: 148px;

      .control-panel-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: $medium_distance;

        li {
          white-space: nowrap;
          cursor: pointer;

          .control-panel-submenu {
            position: absolute;
            bottom: $x4large_distance;
          }

          .icon-map-layers {
            @include icon('/assets/svg-icons/layers.svg');
          }
          .icon-distance-between-points {
            @include icon('/assets/svg-icons/messure.svg');
          }
          .icon-asset-layers {
            @include icon('/assets/svg-icons/eye.svg');
          }
          .icon-center-sweden {
            @include icon('/assets/svg-icons/target.svg');
          }
        }
      }
    }
  }

  #realtime-right-column {
    background: $color_cold_gray;
  }

  // map-layer-filter {
  //   position: fixed;
  //   right: 350px; //$small_distance;
  //   top: calc(#{$navbar_height} + 83px);
  // }
  // map-top-panel {
  //   position: fixed;
  //   left: 0px;
  //   right: 0px;
  //   top: $navbar_height;
  // }
  //
  // .control-panel {
  //   position: fixed;
  //   left: $small_distance;
  //   top: calc(#{$navbar_height} * 2 + #{$small_distance});
  // }
}

map-right-column {
  height: 100%;
}
