<div class="realtime-container">
  <div class="map-container">
    <div id="realtime-map"></div>
    <map-assets
      *ngIf="registerOnClickFunction !== undefined"
      [assets]="assetMovements"
      [selectedAsset]="selectedAsset$|async"
      [map]="map"
      [namesVisible]="mapSettings.namesVisible"
      [speedsVisible]="mapSettings.speedsVisible"
      [selectAsset]="selectAsset"
      [shipColorLogic]="mapSettings.assetColorMethod"
      [registerOnClickFunction]="registerOnClickFunction"
      [unregisterOnClickFunction]="unregisterOnClickFunction"
    ></map-assets>
  </div>
  <map-asset-search
    [autocompleteFunction]="searchAutocomplete"
    [autocompleteResult]="searchAutocompleteAsset$ | async"
    [centerMapOnPosition]="centerMapOnPosition"
    [filterFunction]="filterAssets"
    [selectAsset]="selectAsset"
  ></map-asset-search>
  <map-settings
    [mapSettings]="mapSettings"
    [setVisibilityForAssetNames]="setVisibilityForAssetNames"
    [setVisibilityForAssetSpeeds]="setVisibilityForAssetSpeeds"
    [setVisibilityForFlags]="setVisibilityForFlags"
    [setVisibilityForTracks]="setVisibilityForTracks"
    [setVisibilityForForecast]="setVisibilityForForecast"
    [setTracksMinuteCap]="setTracksMinuteCap"
    [setForecastInterval]="setForecastInterval"
    [clearTracks]="clearTracks"
    [clearForecasts]="clearForecasts"
    [map]="map"
    [saveViewport]="saveViewport"
  ></map-settings>
  <map-asset-panel
    *ngIf="(selectedAsset$|async).asset !== undefined"
    [asset]="selectedAsset$|async"
    [forecasts]="forecasts$|async"
    [getAssetTrack]="getAssetTrack"
    [getAssetTrackFromTime]="getAssetTrackFromTime"
    [untrackAsset]="untrackAsset"
    [addForecast]="addForecast"
    [removeForecast]="removeForecast"
    [tracksMinuteCap]="mapSettings.tracksMinuteCap"
  ></map-asset-panel>
  <map-tracks
    *ngIf="mapSettings.tracksVisible"
    [assetTracks]="assetTracks$|async"
    [map]="map"
    [mapZoom]="mapZoom"
    [registerOnClickFunction]="registerOnClickFunction"
    [unregisterOnClickFunction]="unregisterOnClickFunction"
    [addPositionForInspection]="addPositionForInspection"
    [positionsForInspection]="positionsForInspection$|async"
  ></map-tracks>
  <map-flagstates
    *ngIf="mapSettings.flagsVisible"
    [assets]="assetMovements"
    [map]="map"
  ></map-flagstates>
  <map-information-panel></map-information-panel>
  <map-track-panel
    [positions]="positionsForInspection$|async"
    [removePositionForInspection]="removePositionForInspection"
  ></map-track-panel>
  <map-asset-forecast
    *ngIf="mapSettings.forecastsVisible"
    [map]="map"
    [assetMovements]="forecasts$|async"
    [forecastInterval]="mapSettings.forecastInterval"
  ></map-asset-forecast>
</div>
