@import 'variables.scss';

.realtime-container {
  height: calc(100% - #{$navbar_height});
  .map-container {
    height: 100%;
    #realtime-map {
      height: 100%;
    }
  }

  map-settings {
    position: fixed;
    right: $small_distance;
    top: calc(#{$navbar_height} + 95px);
  }
  map-asset-search {
    position: fixed;
    right: 0px;
    top: $navbar_height;
  }
  map-asset-panel {
    position: fixed;
    left: 0px;
    height: 40%;
    bottom: 0px;
    max-width: 50%;
  }
  map-track-panel {
    display: none;
  }
}
