@import 'variables.scss';

.content-container {
  height: 100%;
  background: $color_cold_gray;
  position: relative;

  #realtime-right-column-menu {
    position: absolute;
    right: 250px;
    top: 60px;
    z-index: 200;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-row-gap: $medium_distance;

    li {
      white-space: nowrap;
      cursor: pointer;

      .icon-information {
        @include right-icon('/assets/info-outline.svg');
      }
      .icon-incident {
        @include right-icon('/assets/check-square.svg');
      }
    }
    //
    // list-style-type: none;
    // margin: 0 0 $large_distance 0;
    // padding: $large_distance $large_distance 0px $large_distance;
    // border-bottom: 1px solid $color_gray;
    //
    // li {
    //   display: inline-block;
    //   padding: $medium_distance;
    //   color: $color_dark_gray;
    //   cursor: pointer;
    //   &.active {
    //     color: $color_black;
    //     border-bottom: 2px solid $color_turquoise;
    //   }
    // }
  }
  .panel {
    display: grid;

    h3 {
      justify-self: center;
    }
  }
}

.flag-image {
  width: 20px;
  place-self: center;
}
