<div class="content-container">
  <ul id="realtime-right-column-menu">
    <li
      (click)="setActivePanel('information')"
    ><i class="icon-information {{activePanel === 'information' ? 'active' : '' }}" aria-hidden="true"></i></li>
    <li
      *ngIf="activeLeftPanel === 'workflows'"
      (click)="setActivePanel('incident')"
    ><i class="icon-incident {{activePanel === 'incident' ? 'active' : '' }}" aria-hidden="true"></i></li>
  </ul>
  <div class="panel information-panel" *ngIf="activePanel === 'information'">
    <h3>Map information</h3>
    <map-panel-block
      *ngFor="let currentAsset of selectedAssets; trackBy: trackBySelectedAssets"
      [blockTitle]="currentAsset.asset.name"
      [active]="currentAsset.currentlyShowing"
      [setActiveFunction]="selectAssetWrapper(currentAsset.asset.id)"
      [useArrowsAsToggle]="true"
    >
      <img
        header
        *ngIf="currentAsset.asset.flagStateCode !== '???' && currentAsset.asset.flagStateCode !== undefined && getCountryCode(currentAsset) !== '???'"
        class="flag-image"
        src="/assets/flags/4x3/{{getCountryCode(currentAsset)}}.svg"
        [alt]="getCountryCode(currentAsset)" />
      <map-asset-panel
        body
        [asset]="currentAsset"
        [selectAsset]="selectAsset"
        [deselectAsset]="deselectAsset"
        [forecasts]="forecasts$|async"
        [getAssetTrack]="getAssetTrack"
        [getAssetTrackTimeInterval]="getAssetTrackTimeInterval"
        [untrackAsset]="untrackAsset"
        [addForecast]="addForecast"
        [removeForecast]="removeForecast"
        [tracksMinuteCap]="mapSettings.settings.tracksMinuteCap"
        [centerMapOnPosition]="centerMapOnPosition"
      ></map-asset-panel>
    </map-panel-block>
  </div>
  <div class="panel incident-panel" *ngIf="activePanel === 'incident'">
    <h3>
      Incident
      <span *ngIf="selectedAsset !== undefined && assetsNotSendingIncidents[selectedAsset.asset.id] !== undefined">
        #{{ assetsNotSendingIncidents[selectedAsset.asset.id].id }}
      </span>
    </h3>
    <map-incident
      *ngIf="selectedAsset !== undefined && assetsNotSendingIncidents[selectedAsset.asset.id] !== undefined"
      [asset]="selectedAsset"
      [incident]="assetsNotSendingIncidents[selectedAsset.asset.id]"
      [map]="map"
      [createManualMovement]="createManualMovement"
      [saveNewIncidentStatus]="saveNewIncidentStatus"
      [createNote]="createNote"
    ></map-incident>
  </div>
</div>
