<div class="content-container {{ columnHidden ? 'panel-hidden' : ''}}">
  <div id="minimize-right-column" (click)="hideRightColumn(!columnHidden)">
    <i class="ri-arrow-right-s-line" aria-hidden="true" *ngIf="!columnHidden"></i>
    <i class="ri-arrow-left-s-line" aria-hidden="true" *ngIf="columnHidden"></i>
  </div>
  <ul id="realtime-right-column-menu">
    <li (click)="setActivePanelAndShowColumn(['information'])">
      <i class="icon-information {{ activePanel[0] === 'information' ? 'active' : '' }}" aria-hidden="true"></i>
    </li>
    <li (click)="selectedAssets.length > 0 && setActivePanelAndShowColumn(['showAsset'])">
      <i
        class="ri-ship-fill right-icon {{ activePanel[0] === 'showAsset' ? 'active' : '' }} {{selectedAssets.length === 0 ? 'disabled' : '' }}"
        aria-hidden="true"
      ></i>
    </li>
    <li (click)="selectedAssets.length > 0 && setActivePanelAndShowColumn(['listAssets'])">
      <i
        class="icon-ships {{ activePanel[0] === 'listAssets' ? 'active' : '' }} {{selectedAssets.length === 0 ? 'disabled' : '' }}"
        aria-hidden="true"
      ></i>
    </li>
    <ng-container *ngIf="activeLeftPanel[0] === 'workflows'">
      <li
        (click)="selectedIncident !== undefined && setActiveAssetToMatchIncident() && setActivePanelAndShowColumn(['incident'])"
      ><i class="icon-incident {{ activePanel[0] === 'incident' ? 'active' : '' }} {{ selectedIncident === undefined ? 'disabled' : '' }}" aria-hidden="true"></i></li>
    </ng-container>
  </ul>
  <div class="panel information-panel" *ngIf="activePanel[0] === 'information'">
    <h3 i18n>Map Information</h3>
  </div>
  <div class="panel showAsset-panel" *ngIf="activePanel[0] === 'showAsset'">
    <div class="panel-title">
      <i
        class="ri-arrow-left-s-line"
        aria-hidden="true"
        (click)="setActivePanel(['showAsset'])"
        *ngIf="checkIfSecondaryPanelIsActive()"
      ></i>
      <h3>
        <ng-container *ngIf="!checkIfSecondaryPanelIsActive()" i18n>Detailed asset information</ng-container>
        <ng-container *ngIf="activePanel[1] === 'licenceInformation'" i18n>Licence</ng-container>
        <ng-container *ngIf="activePanel[1] === 'incidentList'" i18n>Asset incidents</ng-container>
        <ng-container *ngIf="activePanel[1] === 'positions'" i18n>Positions</ng-container>
      </h3>
      <div class="asset-name" *ngIf="selectedAsset">
        {{ selectedAsset.asset.name + (selectedAsset.asset.externalMarking !== undefined ? ' &#183; ' + selectedAsset.asset.externalMarking : '') }}
      </div>
    </div>
    <ng-container *ngIf="selectedAsset">
      <map-asset-panel-show
        *ngIf="!checkIfSecondaryPanelIsActive()"
        [asset]="selectedAsset"
        [selectAsset]="selectAsset"
        [deselectAsset]="deselectAsset"
        [forecasts]="forecasts$|async"
        [getAssetTrack]="getAssetTrack"
        [getAssetTrackTimeInterval]="getAssetTrackTimeInterval"
        [untrackAsset]="untrackAsset"
        [addForecast]="addForecast"
        [removeForecast]="removeForecast"
        [tracksMinuteCap]="mapSettings.settings.tracksMinuteCap"
        [centerMapOnPosition]="centerMapOnPosition"
        [getIncidentsForAssetId]="getIncidentsForAssetId"
        [setActiveRightPanel]="setActivePanel"
        [selectedAssetsLastPositions]="selectedAssetsLastPositions[selectedAsset.asset.id]"
        [getLicenceForAsset]="getLicenceForAsset"
      ></map-asset-panel-show>
      <map-licence-information
        *ngIf="activePanel[1] === 'licenceInformation'"
        [licence]="licence$ | async"
        [licenceLoaded]="licenceLoaded"
      ></map-licence-information>
      <map-asset-incidents
        *ngIf="activePanel[1] === 'incidentList'"
        [incidents]="incidentsForAssets[selectedAsset.asset.id]"
        [selectIncident]="selectIncident"
        [setActiveWorkflow]="setActiveLeftPanel"
        [currentWorkflow]="activeLeftPanel[1]"
      ></map-asset-incidents>
      <map-asset-positions
        *ngIf="activePanel[1] === 'positions'"
        [asset]="selectedAsset.asset"
        [positions]="lastFullPositionsForSelectedAsset$ | async"
        [createManualMovement]="createManualMovement"
        [map]="map"
        [userTimezone]="userTimezone$ | async"
        [getLastFullPositionsForAsset]="getLastFullPositionsForAsset"
      ></map-asset-positions>
    </ng-container>
  </div>
  <div class="panel listAssets-panel" *ngIf="activePanel[0] === 'listAssets'">
    <h3><span i18n>Overview multiple Assets</span> ({{selectedAssets.length}} <span i18n>chosen</span>)</h3>
    <map-selected-assets-panel
      [selectedAssets]="selectedAssets"
      [selectAsset]="selectAsset"
      [clearForecasts]="clearForecasts"
      [clearTracks]="clearTracks"
      [clearSelectedAssets]="clearSelectedAssets"
      [deselectAsset]="deselectAsset"
      [forecasts]="forecasts$|async"
      [getAssetTrack]="getAssetTrack"
      [getAssetTrackTimeInterval]="getAssetTrackTimeInterval"
      [untrackAsset]="untrackAsset"
      [addForecast]="addForecast"
      [removeForecast]="removeForecast"
      [tracksMinuteCap]="mapSettings.settings.tracksMinuteCap"
      [centerMapOnPosition]="centerMapOnPosition"
      [assetGroupFilters]="assetGroupFilters"
      [saveFilter]="saveFilter"
    ></map-selected-assets-panel>
  </div>
  <div class="panel incident-panel" *ngIf="activePanel[0] === 'incident'">
    <div class="panel-title">
      <i
        class="ri-arrow-left-s-line panel-back-button"
        aria-hidden="true"
        (click)="setActivePanel(['incident'])"
        *ngIf="checkIfSecondaryPanelIsActive()"
      ></i>
      <h3>
        <ng-container i18n>Incident</ng-container>
        <span *ngIf="selectedAsset !== undefined && selectedIncident !== undefined">
          #{{ selectedIncident.id }}
        </span>
      </h3>
      <div class="flag-and-name">
        <img
          *ngIf="selectedAsset !== undefined && selectedAsset.asset.flagStateCode !== '???' && selectedAsset.asset.flagStateCode !== undefined"
          class="flag-image"
          src="/assets/flags/4x3/{{getCountryCode(selectedAsset)}}.svg"
          alt="getCountryCode(selectedAsset)"
        />
        <div class="asset-name" *ngIf="selectedAsset">
          {{ selectedAsset.asset.name + (selectedAsset.asset.externalMarking !== undefined ? ' &#183; ' + selectedAsset.asset.externalMarking : '') }}
        </div>
      </div>
    </div>
    <ng-container *ngIf="selectedAsset !== undefined && selectedIncident !== undefined">
      <map-incident
        *ngIf="!checkIfSecondaryPanelIsActive()"
        [asset]="selectedAsset"
        [incident]="selectedIncident"
        [map]="map"
        [createManualMovement]="createManualMovement"
        [saveIncident]="saveIncident"
        [createNote]="createIncidentNote"
        [pollIncident]="pollIncident"
        [incidentTypes]="incidentTypes$ | async"
        [setActiveWorkflow]="setActiveWorkflow"
        [setActiveRightPanel]="setActivePanelAndShowColumn"
        [userTimezone]="userTimezone$ | async"
      ></map-incident>
      <map-incident-logs
        *ngIf="activePanel[1] === 'incidentLogs'"
        [incident]="selectedIncident"
        [incidentLog]="incidentLogIfItExists()"
        [getLogForIncident]="getLogForIncident"
      ></map-incident-logs>
      <map-note-form
        *ngIf="activePanel[1] === 'incidentNote'"
        [createNote]="createNoteWithId"
        [assetId]="selectedAsset.asset.id"
      ></map-note-form>
    </ng-container>
  </div>
</div>
