@import 'variables.scss';

.content-container {
  grid-row-gap: $medium_distance;

  h4 {
    margin: 0px;
  }

  .filter-for-panel-content {
    padding-bottom: $large_distance;
  }

  .incidents {
    display: grid;
    grid-row-gap: $medium_distance;

    h3 {
      padding-bottom: 0px;
    }
  }

  button.btn {
    padding: $medium_distance $large_distance;
    background-color: $color_light_green;
  }

}
