<div class="content-container" *ngIf="!hidePanel">
  <map-viewports
    [map]="map"
    [mapSettings]="mapSettings"
    [saveViewport]="saveViewport"
  ></map-viewports>
  <ui-button-toggle
    [label]="'Flags'"
    [value]="mapSettings.flagsVisible"
    [switchFunction]="toggleFlags"
  ></ui-button-toggle>
  <ui-button-toggle
    [label]="'Tracks'"
    [value]="mapSettings.tracksVisible"
    [switchFunction]="toggleTracks"
  ></ui-button-toggle>
  <ui-button-toggle
    [label]="'Names'"
    [value]="mapSettings.namesVisible"
    [switchFunction]="toggleNames"
  ></ui-button-toggle>
  <ui-button-toggle
    [label]="'Speeds'"
    [value]="mapSettings.speedsVisible"
    [switchFunction]="toggleSpeeds"
  ></ui-button-toggle>
  <ui-button-toggle
    [label]="'Forecasts'"
    [value]="mapSettings.forecastsVisible"
    [switchFunction]="toggleForecast"
  ></ui-button-toggle>
  <button class="hide-button btn btn-default" (click)="clearTracks()">Clear tracks</button>
  <button class="hide-button btn btn-default" (click)="clearForecasts()">Clear forecasts</button>
  <fieldset>
    <legend>Cap tracks (min)</legend>
    <input type="number" (keyup)="setTracksMinuteCapFunction($event)">
  </fieldset>
  <fieldset>
    <legend>Forecast interval (min)</legend>
    <input type="number" (keyup)="setForecastIntervalFunction($event)">
  </fieldset>
  <div class="hide-button-wrapper">
    <button class="hide-button btn btn-primary" (click)="hidePanel = !hidePanel">Minimize</button>
  </div>
</div>
<button class="show-button btn btn-primary" *ngIf="hidePanel" (click)="hidePanel = !hidePanel">
  <i class="fas fa-chevron-left"></i>
</button>
