<div class="content-container">
  <ng-template [ngIf]="!hidePanel">
    <map-viewports
      [map]="map"
      [mapSettings]="mapSettings"
      [saveViewport]="saveViewport"
    ></map-viewports>
    <button (click)="toggleFlags()">Toggle flags</button>
    <button (click)="toggleTracks()">Toggle tracks</button>
    <button (click)="toggleNames()">Toggle names</button>
    <button (click)="toggleSpeeds()">Toggle speeds</button>
    <button (click)="hidePanel = !hidePanel">Hide</button>
  </ng-template>
  <button *ngIf="hidePanel" (click)="hidePanel = !hidePanel">Show</button>
</div>
