.content-container {
  color: white;
  padding: 10px;
  overflow-y: scroll;

  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }

  button {
    cursor: pointer;
    display: block;
  }
}
