@import '~/app/src/app/variables.scss';

.content-container {
  display: grid;
  color: white;
  padding: 10px;
  overflow-y: scroll;
  background: $map_overlay_background;

  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }

  fieldset {
    border-top: 1px solid #FFFFFF;
    legend {
      font-weight: bold;
      padding: 0px $small_distance;
      margin-left: $small_distance;
      width: fit-content;
      font-size: $default_font_size;
    }
  }

  // button {
  //   cursor: pointer;
  //   display: block;
  // }

  map-viewports {
    padding-top: 5px;
    margin-bottom: 5px;
    display: block;
    clear: both;
  }

  .hide-button-wrapper {
    justify-self: center;
  }

}

.show-button {
  padding: 6px 12px;
}
