<div class="poll {{ index % 2 === 0 ? 'even' : 'odd' }}">
  <div class="core-data">
    <div class="poll-block">
      <span class="label" i18n>Timestamp</span>
      <span class="value">{{ formattedPoll.formattedTimestamp }}</span>
    </div>
    <div class="poll-block">
      <span class="label" i18n>Status</span>
      <span class="value status">Program poll initiated</span>
    </div>
    <div *ngIf="isPollFailedOrTimedOut(formattedPoll)" class="poll-block ref-message">
      {{formattedPoll.pollStatus.refMessage}}
    </div>
    <div class="poll-block ocean-region">
      <span class="label" i18n>Ocean region</span>
      <span class="value">{{ formattedPoll.oceanRegions.join(', ') }}</span>
    </div>
  </div>
  <button
    *ngIf="!expanded"
    type="button"
    mat-button
    (click)="expanded = true"
    i18n
  >Show more</button>
  <ng-container *ngIf="expanded">
    <div class="expanded-information">
      <div class="poll-block">
        <span class="label" i18n>Poll type</span>
        <span class="value">{{ formattedPoll.pollInfo.pollTypeEnum }}</span>
      </div>
      <div class="poll-block">
        <span class="label" i18n>Transponder</span>
        <span class="value">{{ formattedPoll.transponder }}</span>
      </div>
      <div class="poll-block">
        <span class="label" i18n>Identifier</span>
        <span class="value">{{ formattedPoll.identifier }}</span>
      </div>
      <div class="poll-block">
        <span class="label" i18n>User</span>
        <span class="value">{{ formattedPoll.pollInfo.creator }}</span>
      </div>
      <div class="poll-block">
        <span class="label" i18n>Program poll start</span>
        <span class="value">{{ formattedPoll.startDateFormatted }}</span>
      </div>
      <div class="poll-block">
        <span class="label" i18n>Program poll end</span>
        <span class="value">{{ formattedPoll.endDateFormatted }}</span>
      </div>
      <div class="poll-block">
        <span class="label" i18n>Poll frequency</span>
        <span class="value">{{ formattedPoll.frequencyFormatted }}</span>
      </div>
      <div class="poll-block comment">
        <span class="label" i18n>Comment</span>
        <span class="value">{{ formattedPoll.pollInfo.comment }}</span>
      </div>
    </div>
    <button type="button" mat-button (click)="expanded = false" i18n>Show less</button>
  </ng-container>
</div>
