<div class="content-container">
  <div>
    <button class="hide-button btn btn-default" (click)="clearTracks()" i18n>Clear tracks</button>
    <button class="hide-button btn btn-default" (click)="clearForecasts()" i18n>Clear forecasts</button>
  </div>
  <fieldset>
    <legend i18n>Track length</legend>
    <mat-select [(value)]="trackLength" (selectionChange)="setTracksMinuteCapFunction($event)">
      <mat-option value="60" i18n>1 hour</mat-option>
      <mat-option value="180" i18n>3 hour</mat-option>
      <mat-option value="360" i18n>6 hours</mat-option>
      <mat-option value="720" i18n>12 hours</mat-option>
      <mat-option value="1440" i18n>1 day</mat-option>
    </mat-select>
  </fieldset>
  <fieldset>
    <legend i18n>Forecast interval (min)</legend>
    <input type="number" placeholder="30" (keyup)="setForecastIntervalFunction($event)" [ngModel]="mapSettings.settings.forecastInterval">
  </fieldset>
</div>
