@import 'variables.scss';

.content-container {
  display: grid;
  color: white;
  padding: 10px;
  overflow-y: scroll;
  background: $map_overlay_background;

  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }

  button.btn-default {
    padding: $medium_distance;
  }

  fieldset {
    border: 0px;
    border-top: 1px solid #FFFFFF;
    legend {
      // font-weight: bold;
      padding: 0px $small_distance;
      margin-left: $small_distance;
      width: fit-content;
      font-size: $default_font_size;
    }
  }

  .hide-button-wrapper {
    justify-self: center;
  }

}

.show-button {
  padding: 6px 12px;
}
