<h1 mat-dialog-title i18n>Resolve incident...</h1>
<div mat-dialog-content>
  <div class="ingress">
    <div i18n>You are about to resolve incident #{{data.incident.id}}.</div>
    <div i18n>Enter a comment and confirm to complete the action.</div>
  </div>
  <div class="content-container">
    <form class="resolve-form" [formGroup]="formValidator">
      <mat-form-field id="resolve-form--note">
        <mat-label i18n>Why was the incident resolved?</mat-label>
        <input matInput formControlName="note" required />
        <mat-error *ngFor="let error of getErrors(['note'])">{{ errorMessage(error) }}</mat-error>
      </mat-form-field>
    </form>
  </div>
</div>
<div mat-dialog-actions align="center">
  <button mat-stroked-button [matDialogClose]="false" cdkFocusInitial color="primary" i18n>Cancel</button>
  <button
    mat-raised-button
    [mat-dialog-close]="save()"
    color="accent"
    i18n
    [disabled]="!formValidator.valid"
  >Resolve incident</button>
</div>
