<form class="notes-form" [formGroup]="formValidator">
  <mat-form-field id="note-form--notes">
    <textarea matInput formControlName="note" required></textarea>
    <mat-error *ngFor="let error of getErrors(['note'])">{{ errorMessage(error) }}</mat-error>
  </mat-form-field>

  <button disabled title="Not implemented yet" id="note-form--all" mat-stroked-button color="accent" type="button">Show all</button>
  <button
    id="note-form--save"
    mat-raised-button
    color="primary"
    type="button"
    [disabled]="!formValidator.valid"
    (click)="save()"
  >Save</button>
</form>
