<form class="notes-form" [formGroup]="formValidator">
  <mat-form-field id="note-form--notes">
    <textarea matInput formControlName="notes" required></textarea>
    <mat-error *ngFor="let error of getErrors(['notes'])">{{ errorMessage(error) }}</mat-error>
  </mat-form-field>

  <div>
    <button id="mobile-terminal-form--all" mat-stroked-button color="accent" type="button">Show all notes</button>
    <button id="mobile-terminal-form--save" mat-raised-button color="primary" type="button"  (click)="save()">Save</button>
  </div>
</form>
