<div class="efr-default-layout--grid">
  <core-efr-top-menu-component
    [appVersion]="appVersion"
    [isAdmin]="isAdmin$ | async"
    [setTimezone]="setTimezone"
    [timezone]="timezone$ | async"
    [fishingActivityUnlocked]="fishingActivityUnlocked$ | async"
  ></core-efr-top-menu-component>

  <core-notifications
    [notifications]="notifications$ | async"
    [dismiss]="dismissNotification"
  ></core-notifications>

  <h1 class="page-title">{{getTitleName()}}</h1>

  <div class="side-menu">
    <h3 i18n>Overview views</h3>
    <ul>
      <li routerLink="/efr/overview" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="short-key">-</span>
        <span class="text" i18n>Collected overview</span>
      </li>
      <li routerLink="/fishing-report" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="short-key">-</span>
        <span class="text" i18n>Risks / assesments</span>
      </li>
    </ul>

    <h3 i18n>Main menu</h3>
    <ul>
      <li routerLink="/efr/overview" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="short-key">-</span>
        <span class="text" i18n>Fishing trips</span>
      </li>
      <li routerLink="/fishing-report" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="short-key">-</span>
        <span class="text" i18n>Users</span>
      </li>
      <li routerLink="/fishing-report" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="short-key">-</span>
        <span class="text" i18n>Assets</span>
      </li>
      <li routerLink="/fishing-report" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="short-key">-</span>
        <span class="text" i18n>Sent messages</span>
      </li>
    </ul>

    <h3 i18n>Other</h3>
    <ul>
      <li routerLink="/efr/overview" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="short-key">-</span>
        <span class="text" i18n>Settings</span>
      </li>
      <li routerLink="/fishing-report" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="short-key">-</span>
        <span class="text" i18n>Help and information</span>
      </li>
    </ul>
  </div>

  <router-outlet></router-outlet>
</div>
