<div class="page-container">
  <form class="asset-search-form">

    <mat-form-field class="free-search">
      <mat-label i18n>Search for Name, External Marking, CFR or IRCS</mat-label>
      <input matInput placeholder="Search" name="Search" [(ngModel)]="assetSearchObject.search">
    </mat-form-field>

    <mat-radio-group name="searchType" [(ngModel)]="assetSearchObject.serachType">
      <mat-radio-button value="Swedish Assets">Swedish assets</mat-radio-button>
      <mat-radio-button value="VMS">Search VMS assets only</mat-radio-button>
      <mat-radio-button value="other">
        <mat-form-field class="other-flagstates" floatLabel="never">
            <mat-label>Choose</mat-label>
            <mat-select name="flagState" [(ngModel)]="assetSearchObject.flagState" multiple>
              <mat-option *ngFor="let flagstate of flagstates" id="mat-option-{{flagstate}}" [value]="flagstate">{{flagstate}}</mat-option>
            </mat-select>
        </mat-form-field>
      </mat-radio-button>
    </mat-radio-group>


    <div class="search-button-wrapper">
      <button mat-raised-button color="primary" type="submit" (click)="search()" i18n>Search</button>
    </div>
  </form>

  <mat-spinner class="load-spinner" *ngIf="loadingData"></mat-spinner>
  <div class="asset-container mat-elevation-z8" *ngIf="tableReadyForDisplay">
    <div class="asset-table-container">

      <table mat-table [dataSource]="sortedAssets" class="asset-table"
        matSort matSortActive="name" matSortDisableClear matSortDirection="desc" (matSortChange)="sortData($event)">

        <!-- name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <!-- ircs Column -->
        <ng-container matColumnDef="ircs">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>ircs</th>
          <td mat-cell *matCellDef="let row">{{row.ircs}}</td>
        </ng-container>

        <!-- mmsi Column -->
        <ng-container matColumnDef="mmsi">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>mmsi</th>
          <td mat-cell *matCellDef="let row">{{row.mmsi}}</td>
        </ng-container>

        <!-- flagstate Column -->
        <ng-container matColumnDef="flagstate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>F.S.</th>
          <td mat-cell *matCellDef="let row">{{row.flagStateCode}}</td>
        </ng-container>

        <!-- ExternalMarking Column -->
        <ng-container matColumnDef="externalMarking">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Ext. marking</th>
          <td mat-cell *matCellDef="let row">{{row.externalMarking}}</td>
        </ng-container>

        <!-- Cfr Column -->
        <ng-container matColumnDef="cfr">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>CFR</th>
          <td mat-cell *matCellDef="let row">{{row.cfr}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/asset/{{row.id}}"></tr>
      </table>
    </div>
  </div>
</div>
