@import 'variables.scss';

.page-container {

  display: grid;
  grid-row-gap: distance(4);

  .top-row {
    display: grid;
    grid-template-columns: 1fr auto;

    button {
      max-height: 36px;
      position: relative;
      align-self: center;
    }
  }

  .asset-search-form {
    display: grid;
    grid-column-gap: distance(3);
    grid-template-columns: 1fr auto;
    padding: distance(3) distance(3) distance(2);
    background: white;

    mat-form-field.free-search {
      grid-column: 1 / 3;
    }

    mat-radio-group {
      display: grid;
      grid-column-gap: distance(3);
      grid-template-columns: 1fr 1fr 1fr;

      & > * {
        align-self: center;
      }

      .other-flagstates {
        min-width: 100px;
      }
    }

    .form-button-wrapper {
      place-self: center;
      display: grid;
      grid-column-gap: distance(1);
      grid-template-columns: 1fr 1fr;
    }
  }

  .load-spinner {
    margin: 150px auto;
  }

  .response-container {
    display: grid;
    grid-column: 1fr;
    grid-row-gap: distance(2);

    .search-result-info {
      font-weight: bold;
      font-size: distance(2);
    }

    .asset-table-container > table {
      width: 100%;
    }

    .asset-container {
      .asset-table-container .cdk-row {
        cursor: pointer;

        &:hover {
          background-color: rgba( $color_blue, 0.2);
          text-decoration: underline;
        }
      }
    }
  }
}
