<div class="content-container">
  <div class="incidents" *ngIf="incidents.length > 0">
    <div
      *ngFor="let incident of incidents"
      title="{{incident.assetName}}"
      class="incident"
      (click)="selectIncident(incident)"
    >
      <div class="status {{incidentStatusClass[incident.status]}}"></div>
      <ui-truncated-text class="name" [text]="incident.assetName" length="16"></ui-truncated-text>
      <div class="ircs">{{incident.assetIrcs}}</div>
      <div class="time">Last seen: {{formatDate(incident)}}</div>
      <div class="notifications" *ngIf="incidentNotifications[incident.id] !== undefined">
        <span class="created-notifications" *ngIf="incidentNotifications[incident.id].created > 0">
          {{incidentNotifications[incident.id].created}}
        </span>
        <span class="updated-notifications" *ngIf="incidentNotifications[incident.id].updated > 0">
          {{incidentNotifications[incident.id].updated}}
        </span>
      </div>
    </div>
  </div>
</div>
