<!--Navbar-->
<div class="navbar layout-top-menu">
  <div class="hav-brand">
    <div>Havs</div>
    <div>och Vatten</div>
    <div>myndigheten</div>
  </div>
  <!-- Navbar brand -->
  <div class="navbar-brand-and-version">
    <a class="navbar-brand" routerLink="/efr/overview">Electronic catch reporting - EFR Support tool</a>
    <div class="app-version">v {{appVersion}}</div>
  </div>
  <!-- Links -->
  <ul class="navbar-nav right-bar">
    <li class="nav-item">
      <fieldset *ngIf="currentTimezone" class="timezone-selector">
        <mat-select [(value)]="currentTimezone" (selectionChange)="setTimezone($event.value)">
          <mat-option *ngFor="let timezoneName of timezones" id="mat-option--timezone-{{timezoneName.replace('/', '-')}}" value="{{timezoneName}}">{{timezoneName}}</mat-option>
        </mat-select>
      </fieldset>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link waves-light" routerLink="/logout" i18n>Logout</a>
    </li>
  </ul>

</div>
<!--/.Navbar-->
