@import 'variables.scss';

.content-container {
  display: grid;
  grid-row-gap: 2px;
  padding: $small_distance $medium_distance;

  &.no-padding {
    padding: 0;
  }

  .panel-block-content {
    background: white;
    padding: $medium_distance;

    &.no-padding {
      padding: 0;
    }
  }

  .panel-block-header {
    color: $color_turquoise;
    padding: $large_distance $medium_distance;
    background: white;

    &.full-header-clickable {
      cursor: pointer;
    }

    & > .arrow-toggle {
      display: grid;
      grid-template-columns: 1fr auto;
      font-weight: 600;

      .label {
        display: grid;
        grid-column-gap: $medium_distance;
        grid-template-columns: auto 1fr;
        grid-template-areas: 'left right';
      }

      i.fas {
        font-size: $large_distance;
      }
    }
  }

  .panel-block-footer:not(.unstyled) {
    padding: $medium_distance;
    background: white;
  }
}
