@import 'variables.scss';

notes-list .notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: $distance;

  & > * {
    background: white;
    padding: distance(2);
  }

  .notes-list--create {
    display: grid;

    h3 {
      padding: 0;
      padding-bottom: distance(2);
    }
  }

  h3.all-notes {
    margin-top: distance(3);
  }

  .search-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .notes {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: $distance;

    .note {
      display: grid;
      grid-template-columns: 1fr 100px;

      & > * {
        background: $color_cold_gray;
        padding: distance(2);
      }

      .left-column {
        display: grid;
        grid-row-gap: $distance;

        .user {
          font-weight: bold;
        }
        .date {
          margin-left: $distance;
          color: $color_gray;
        }

        .note-text {
          white-space: pre;
        }
      }

      .right-column {
        border-left: distance(0.5) dotted #FFFFFF;
        .menu {
          place-self: center;
          display: grid;
          grid-row-gap: $distance;

          .icon-wrapper, .edit-link {
            text-decoration: none;
            color: $color_turquoise;
            border-radius: 30px;
            background: white;
            display: grid;
            width: 60px;
            height: 60px;
            cursor: pointer;
            i {
              font-size: 25px;
              place-self: center;
            }
          }
        }
      }
    }
  }

  // fieldset {
  //   border: 1px solid #000;
  //   label {
  //     font-weight: bold;
  //     color: $color_green;
  //   }
  //
  //   .edit-link {
  //     float: right;
  //   }
  // }
}

.notes-list--menu .mat-menu-content {
  button {
    font-weight: bolder;
  }
  .notes-list--menu-delete-button {
    color: $color_warn;
  }
}
