<div class="content-container">
  <div class="header">
    <img
      *ngIf="asset.flagStateCode !== '???' && asset.flagStateCode !== undefined && getCountryCode() !== '???'"
      class="flag-image"
      src="/assets/flags/4x3/{{getCountryCode()}}.svg"
      [alt]="getCountryCode()"
    />
    <div class="title">
      <h2 i18n>{{asset.externalMarking}} • {{asset.ircs}}</h2>
      <span>{{asset.prodOrgName}} • Org. nr: {{asset.prodOrgCode}}</span>
    </div>
    <div class="links">
      <a *ngIf="asset.source !== 'NATIONAL'" class="edit-link" routerLink="/asset/{{asset.id}}/edit" i18n>Edit asset</a>
      <span *ngIf="asset.source === 'NATIONAL'" class="edit-link" i18n>Read only asset</span>
    </div>
  </div>

  <div class="content-body">
    <div class="fields">
      <div class="row">
        <div class="title"><span class="text" i18n>Flagstate</span></div>
        <div class="value">{{asset.flagStateCode}}</div>
      </div>
      <div class="row">
        <div class="title"><span class="text" i18n>External marking</span></div>
        <div class="value">{{asset.externalMarking}}</div>
      </div>
      <div class="row">
        <div class="title"><span class="text" i18n>CFR</span></div>
        <div class="value">{{asset.cfr}}</div>
      </div>
      <div class="row">
        <div class="title"><span class="text" i18n>IRCS</span></div>
        <div class="value">{{asset.ircs}}</div>
      </div>
      <div class="row">
        <div class="title"><span class="text" i18n>IMO</span></div>
        <div class="value">{{asset.imo}}</div>
      </div>
      <div class="row">
        <div class="title"><span class="text" i18n>MMSI</span></div>
        <div class="value">{{asset.mmsi}}</div>
      </div>
    </div>
    <div class="asset-image">
      <div class="image-and-text">
        <i class="ri-image-fill"></i>
        <span i18n>Image missing</span>
      </div>
    </div>
  </div>
</div>

<div class="vessel-details">
  <div class="content-container">
    <div class="fields">
      <div class="row">
        <div class="title"><span class="text" i18n>Vessel type</span></div>
        <div class="value">{{asset.vesselType}}</div>
      </div>
      <div class="row">
        <div class="title"><span class="text" i18n>Port of registration</span></div>
        <div class="value">{{asset.portOfRegistration}}</div>
      </div>
      <div class="row">
        <div class="title"><span class="text" i18n>Gross tonnage</span></div>
        <div class="value">{{asset.grossTonnage}} {{asset.grossTonnageUnit}}</div>
      </div>
      <div class="row">
        <div class="title"><span class="text" i18n>Power of main engine</span></div>
        <div class="value">{{asset.powerOfMainEngine}}</div>
      </div>
      <div class="row">
        <div class="title"><span class="text" i18n>Length over all</span></div>
        <div class="value">{{asset.lengthOverAll}}</div>
      </div>
      <div class="row">
        <div class="title"><span class="text" i18n>Length between perpendiculars</span></div>
        <div class="value">{{asset.lengthBetweenPerpendiculars}}</div>
      </div>
    </div>
  </div>
  <div class="image-wrapper">
    <div class="image-and-text">
      <div class="ship-wrapper">
        <i class="ri-ship-fill"></i>
      </div>
      <span i18n>VESSEL DETAILS</span>
    </div>
  </div>
</div>

<div class="licence-details" *ngIf="formattedLicence">
  <div class="content-container">
    <div class="fields">
      <div class="row">
        <div class="title"><span class="text" i18n>Licence no.</span></div>
        <div class="value">{{formattedLicence.licenceNumber}}</div>
      </div>
      <div class="row">
        <div class="title"><span class="text" i18n>Civic number</span></div>
        <div class="value">{{formattedLicence.civicNumber}}</div>
      </div>
      <div class="row">
        <div class="title"><span class="text" i18n>From date</span></div>
        <div class="value">{{formattedLicence.formattedFromDate}}</div>
      </div>
      <div class="row">
        <div class="title"><span class="text" i18n>To date</span></div>
        <div class="value">{{formattedLicence.formattedToDate}}</div>
      </div>
      <div class="row">
        <div class="title"><span class="text" i18n>Order date</span></div>
        <div class="value">{{formattedLicence.formattedDecisionDate}}</div>
      </div>
      <div>
        <div i18n>Limitations</div>
        <div class="constraints">{{formattedLicence.constraints}}</div>
      </div>
    </div>
  </div>
  <div class="image-wrapper">
    <div class="image-and-text">
      <div class="licence-wrapper">
        <i class="ri-information-line"></i>
      </div>
      <span i18n>Licence</span>
    </div>
  </div>
</div>
