<h2 i18n>Asset information</h2>
<a *ngIf="asset.source !== 'NATIONAL'" class="edit-link" routerLink="/asset/{{asset.id}}/edit" i18n>Edit asset</a>
<span *ngIf="asset.source === 'NATIONAL'" class="edit-link" i18n>Read only asset</span>

<ng-container *ngIf="asset.flagStateCode">
  <label i18n>Flagstate</label>
  <div>{{asset.flagStateCode}}</div>
</ng-container>
<ng-container *ngIf="asset.externalMarking">
  <label i18n>External marking</label>
  <div>{{asset.externalMarking}}</div>
</ng-container>

<ng-container *ngIf="asset.cfr">
  <label i18n>Cfr</label>
  <div>{{asset.cfr}}</div>
</ng-container>
<ng-container *ngIf="asset.ircs">
  <label i18n>Ircs</label>
  <div>{{asset.ircs}}</div>
</ng-container>
<ng-container *ngIf="asset.imo">
  <label i18n>imo</label>
  <div>{{asset.imo}}</div>
</ng-container>
<ng-container *ngIf="asset.portOfRegistration">
  <label i18n>Port of registration</label>
  <div>{{asset.portOfRegistration}}</div>
</ng-container>
<ng-container *ngIf="asset.mmsi">
  <label i18n>Mmsi</label>
  <div>{{asset.mmsi}}</div>
</ng-container>

<ng-container *ngIf="asset.lengthOverAll">
  <label i18n>Length over all</label>
  <div>{{asset.lengthOverAll}}</div>
</ng-container>
<ng-container *ngIf="asset.lengthBetweenPerpendiculars">
  <label i18n>Length between perpendiculars</label>
  <div>{{asset.lengthBetweenPerpendiculars}}</div>
</ng-container>
<ng-container *ngIf="asset.grossTonnage">
  <label i18n>Gross tonnage</label>
  <div>{{asset.grossTonnage}} {{asset.grossTonnageUnit}}</div>
</ng-container>
<ng-container *ngIf="asset.powerOfMainEngine">
  <label i18n>Power of main engine</label>
  <div>{{asset.powerOfMainEngine}}</div>
</ng-container>
<ng-container *ngIf="asset.vesselType">
  <label i18n>Vessel type</label>
  <div>{{asset.vesselType}}</div>
</ng-container>

<ng-container *ngIf="asset.prodOrgCode">
  <label i18n>Org. Nr</label>
  <div>{{asset.prodOrgCode}}</div>
</ng-container>
<ng-container *ngIf="asset.prodOrgName">
  <label i18n>Org. namn</label>
  <div>{{asset.prodOrgName}}</div>
</ng-container>
