@import 'variables.scss';

.content-container {
  background: white;
  padding: distance(4);
  margin-bottom: distance(4);

  .header {
    display: grid;
    grid-template-columns: 75px 1fr auto;
    grid-column-gap: distance(2);
    padding-bottom: distance(2);

    .title {
      display: grid;
      grid-template-columns: 1fr;

      h2 {
        padding: 0px;
      }
    }

    .linksAndIncidentStatus {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: end;

      .currentIncidentStatus {
        background-color: $color_warn;
        color: white;
        text-transform: uppercase;
        align-self: center;
        padding: 2px;
        font-weight: 500;
      }
    }
  }

  .content-body {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: distance(2);

    .asset-image {
      display: grid;
      background: $color_gray;
    }
  }

  .fields {
    display: grid;
    grid-row-gap: distance(2);

    .row {
      display: grid;
      grid-template-columns: 1fr auto;

      .title .text{
        display: grid;
        grid-template-columns: auto 1fr;

        &:after {
          content: "";
          border-bottom: 2px dotted $color_gray;
          margin-left: $distance;
          margin-right: $distance;
        }
      }

      .value {
        font-weight: bold;
        &.ocean-regions span {
          &:after {
            content: ', ';
          }
          &:last-child:after {
            content: '';
          }
        }
      }
    }
  }
}

.vessel-details {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-bottom: distance(4);

  .content-container {
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .image-wrapper {
    display: grid;
    background: $color_dark_blue;
    .image-and-text {
      grid-row-gap: distance(2);

      .ship-wrapper {
        justify-self: center;
        border: 1px solid white;
        border-radius: 60px;
        padding: distance(2.5);
        background: $color_blue;

        i {
          font-size: 60px;
        }
      }
    }
  }
}

.licence-details {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-bottom: distance(4);

  .content-container {
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 3fr 1fr;

    .valid {
      color: $color_accent_light;
    }

    .invalid {
      color: $color_warn;
    }

    .constraints {
      margin-top: distance(1);
      font-weight: bold;
    }
  }

  .image-wrapper {
    display: grid;
    background: $color_dark_green;
    .image-and-text {
      grid-row-gap: distance(2);

      .licence-wrapper {
        justify-self: center;
        border: 1px solid white;
        border-radius: 60px;
        padding: distance(2.5);
        background: $color_green;

        i {
          font-size: 60px;
        }
      }
    }
  }
}

.image-and-text {
  place-self: center;
  color: white;
  display: grid;
  grid-template-columns: 1fr;

  i {
    font-size: 70px;
    justify-self: center;
  }

  span {
    font-weight: lighter;
    justify-self: center;
  }
}
