/*
 * This file is being imported by /app/angular.json
 * The reason for this is that we can't affect open-layers map styles from a component css that angular imports.
 *
 * From the Angular documentation:
 * "Reminder: the styles in the style file apply only to this component.
 * They are not inherited by any components nested within the template nor by any content projected into the component."
*/

@import 'variables.scss';

.realtime-container .map-container #realtime-map, .reports-container .map-container #reports-map {
  .ol-scale-line {
    left: unset;
    left: 10px;
  }
  .ol-zoom {
    left: unset;
    right: $medium_distance;
    top: unset;
    bottom: $medium_distance;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $small_distance;
    padding: 0px;

    &.ol-control {
      background-color: transparent;
    }

    button {
      // display: grid;
      background: $color_turquoise;
      width: $x3large_distance;
      height: $x3large_distance;
      font-size: 20px;
      cursor: pointer;
      border: 0px;

      &:hover {
        background: $color_light_turquoise;
      }
    }
  }
}
