<core-top-menu-component
  [appVersion]="appVersion"
  [isAdmin]="isAdmin$ | async"
  [setTimezone]="setTimezone"
  [timezone]="timezone$ | async"
  [fishingActivityUnlocked]="fishingActivityUnlocked$ | async"
  [timeToLogout]="timeToLogout$ | async"
  [url]="(mergedRoute$ | async).url"
></core-top-menu-component>

<div class="container">
  <core-notifications
    [notifications]="notifications$ | async"
    [dismiss]="dismissNotification"
  ></core-notifications>
  <router-outlet></router-outlet>
</div>
