<div class="content-container">
  <div class="search-wrapper">
    <mat-form-field>
      <input matInput placeholder="Search" type="text" (keyup)="searchKeyUp($event)" [(ngModel)]="searchQuery" [matAutocomplete]="auto">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
      <mat-option *ngFor="let option of searchResults" [value]="option.value" data-id="{{option.id}}">
        {{option.value}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <mat-form-field>
    <input matInput placeholder="Filter" [(ngModel)]="filterQuery" (keyup)="filterKeyUp($event)">
  </mat-form-field>
</div>
