<ul class="notifications {{addConditionalClasses()}}" *ngIf="notifications.success.length > 0 || notifications.notices.length > 0 || notifications.errors.length > 0">
  <li *ngFor="let successNotification of notifications.success; let i = index" class="alert alert-success">
    <span [innerHTML]="successNotification.notification"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismiss('success', successNotification.id)" i18n>
      Dismiss
    </button>
  </li>
  <li *ngFor="let noticesNotification of notifications.notices; let i = index" class="alert alert-notice">
    <span [innerHTML]="noticesNotification.notification"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismiss('notices', noticesNotification.id)" i18n>
      Dismiss
    </button>
  </li>
  <li *ngFor="let errorsNotification of notifications.errors; let i = index" class="alert alert-error">
    <span [innerHTML]="errorsNotification.notification"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismiss('errors', errorsNotification.id)" i18n>
      Dismiss
    </button>
  </li>
</ul>
