@import 'variables.scss';

ul.notifications {

  padding-left: 0px;
  list-style-type: none;
  z-index: 100;

  &.overlay {
    position: absolute;
    top: calc(#{$navbar_height} + #{$medium_distance});

    right: 0px;
    left: 0px;
    margin: 0px auto;
    max-width: 560px;
  }

  .alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    padding-right: 130px;

    &.no-countdown {
      padding-right: 100px;
    }

    .end-section {
      align-self: start;
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: distance(1);
      position: absolute;
      right: distance(0.25);
      top: 0px;

      button.close {
        margin-top: 2px;
      }
    }
  }

  .alert-notice {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }

  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }

  .alert-error {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
  }
}
