<div class="content-container">
  <ui-button-close [clickFunction]="hideFunction"></ui-button-close>
  <h2 i18n>User manual</h2>
  <div class="information-grid">
    <div class="line"></div>
    <h3 i18n>Search</h3>
    <div>
      <ng-container i18n>The search field is used for centering the map on a specific ship.</ng-container><br />
      <ng-container i18n>
        You can search ships by name in this field and once you have chosen the desired ship in the dropdown the
        map will center around that ship. The dropdown is sorted alphabetically and shows the top 10 results.
      </ng-container><br />
      <ng-container i18n>
        The search will try to find any ship containing that letter combination.
        For example the search query <b><u>as</u></b> will give you ships such as <b><u>As</u></b>kungen but also ships like B<b><u>as</u></b>to.
      </ng-container>
      <br /><br />
      <u i18n>Special commands:</u><br />
      <div class="special_commands">
        <h4>!</h4>
        <div i18n>
          By starting with an exlamation mark the search will instead try to find any ship <u>not</u> containing the given text.
          I.e <b><u>!as</u></b> will give the reverse result.
        </div>
        <h4>/c</h4>
        <div i18n>
          By starting your command with <b><u>/c</u></b> you can go directly to a specific cordinate.
          Example: <b><u>/c 58.43562 17.45620</u></b>
        </div>
      </div>
    </div>
  </div>
</div>
