@import 'variables.scss';

.content-container {
  z-index: 100;
  position: fixed;
  margin: auto;
  right: 0;
  left: 0;
  width: 100%;
  height: calc(100% - #{$navbar_height});
  top: $navbar_height;
  background: $map_overlay_background;
  border-right: 2px solid #000000;
  border-left: 2px solid #000000;
  border-top: 2px solid #000000;

  color: white;
  padding: $medium_distance;
  overflow-y: scroll;

  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }

  ui-button-close {
    position: absolute;
    top: $small_distance;
    right: $medium_distance;
    cursor: pointer;
  }

  .information-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    .line {
      grid-column: 1 / -1;
      height: 1px;
      background: white;
    }
    .special_commands {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 10px;
    }
    & > div > h4 {
      display: inline-block;
    }
  }
}

.show-button {
  position: fixed;
  margin: auto;
  right: 0;
  left: 0;
  width: 3em;
  padding: 6px 10px;
  top: calc(#{$navbar_height} * 2);
}
