@import 'variables.scss';

*, ::after, ::before {
  // font-size: $default_font_size;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  color: $color_black;
  background: $color_background_gray;
}

h1 { margin-top: 0px; margin-bottom: 0px; padding-top: 0.67em; padding-bottom: 0.67em; }
h2 { margin-top: 0px; margin-bottom: 0px; padding-top: 0.83em; padding-bottom: 0.83em; }
h3 { margin-top: 0px; margin-bottom: 0px; padding-top: 1em; padding-bottom: 1em; }
h4 { margin-top: 0px; margin-bottom: 0px; padding-top: 1.33em; padding-bottom: 1.33em; font-weight: 500; }
h5 { margin-top: 0px; margin-bottom: 0px; padding-top: $medium_distance; padding-bottom: $medium_distance; }


.hidden {
  display: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: $default_font_size; }

.container h1 {
  font-size: $h1_font_size;
  margin-top: $xlarge_distance;
  margin-bottom: $xlarge_distance;
}

.container h2 {
  font-size: 16px;
}

table.mat-table thead th {
  color: $color_turquoise;
  font-weight: bolder;
}

button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}

.btn {
  background-color: $color_cold_dark_gray;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.5;
  transition: color .15s
    ease-in-out,background-color .15s
    ease-in-out,border-color .15s
    ease-in-out,box-shadow .15s
    ease-in-out;

  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  padding: .84rem 2.14rem;
  font-size: .81rem;
  margin: .375rem;
  border: 0;
  border-radius: .125rem;
  white-space: normal;
  word-wrap: break-word;
  color: #fff;

  &:active {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  }
}

.btn-default {
  background-color: $color_light_green;
  &:active {
    background-color: $color_green;
  }
  color: white;
}

.btn-primary {
  background-color: $color_blue;
  &:active {

    background-color: $color_dark_blue;
  }
}

.btn-small {
  padding: $small_distance $medium_distance;
}

fieldset {
  border: 0px;
}

mat-form-field.no-white-background {
  color: black;
  .mat-form-field-infix {
    background: white;
    margin-top: 6px;
    padding: 4px 0px;
    border-top: none;
  }
  .mat-form-field-wrapper {
      padding-bottom: 0;
  }
  .mat-form-field-underline {
    position: unset;
    background-color: rgba($color_orange, .42);
  }

  .mat-form-field-wrapper {
    padding-bottom: 0px;
  }

  &.mat-form-field-appearance-legacy .mat-form-field-label {
    top: 1em;
  }

  &.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
  &.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill+.mat-form-field-label-wrapper .mat-form-field-label {
    -webkit-transform: translateY(-1.3em) scale(.75) perspective(100px) translateY(0.001px);
    transform: translateY(-1.3em) scale(.75) perspective(100px) translateY(0.001px);
    -ms-transform: translateY(-1.3em) scale(.75);
    color: white;
  }
}

mat-form-field.white-text {
  &.mat-focused .mat-form-field-label, .mat-form-field-label {
    color: white;
  }
  .mat-form-field-underline {
    background-color: rgba(255,255,255,.42);
    .mat-form-field-ripple {
      background-color: white;
    }
  }
}

mat-form-field .mat-form-field-infix {
  width: inherit;
}

mat-dialog-container {
  h1 {
    margin-top: 0px;
    padding: 0px;
  }

  p {
    margin: 0px;
    padding: 0px;
  }
}

.blurry-backdrop {
  backdrop-filter: blur(10px) grayscale(80%);
}

.dialog-without-padding {
  .mat-dialog-container {
    padding-left: 0px;
    padding-right: 0px;

    .mat-dialog-content {
      margin: 0px;
    }
  }
}

.container {
  margin: 0px auto;
}

@media (min-width: 1620px) {
  .container {
    max-width: 1600px;
  }
}
