<div class="column-wrapper">
  <div class="left-column">
    <asset-show [asset]="asset"></asset-show>
    <asset-show-contacts [asset]="asset" [contacts]="contacts$ | async"></asset-show-contacts>
  </div>
  <div class="right-column">
    <asset-show-mobile-terminal [asset]="asset" [mobileTerminals]="mobileTerminals$ | async"></asset-show-mobile-terminal>
    <asset-show-notes [asset]="asset" [notes]="notes$ | async"></asset-show-notes>
    <div class="placeholder">
      <h2 i18n>History placeholder</h2>
    </div>
  </div>
</div>
<ng-template #toolbox>
  <div class="toolbox-wrapper">
    <div class="toolbox">
      <button
        mat-raised-button
        color="primary"
        routerLink="/map/realtime/{{asset.id}}"
        i18n
      >Show on map</button>
    </div>
  </div>
</ng-template>
