<h1>{{getHeadline()}}</h1>

<div class="column-wrapper">
  <div class="left-column">
    <asset-show [asset]="asset"></asset-show>
    <div class="placeholder">
      <h2>Contact placeholder</h2>
    </div>
  </div>
  <div class="right-column">
    <asset-show-mobile-terminal [asset]="asset" [mobileTerminals]="mobileTerminals$ | async"></asset-show-mobile-terminal>
    <div class="placeholder">
      <h2>Comments placeholder</h2>
    </div>
    <div class="placeholder">
      <h2>History placeholder</h2>
    </div>
  </div>
</div>
