<div style="display: none;">
  <div i18n="@@ts-map-realtime-selected-asset-dont-exist-error">Asset has not sent a position for the last 8 hours and is not shown on map.</div>
  <div i18n="@@ts-mobileTerminal-form-error">Invalid characters given, only letters, digits, space and hypen is allowed.</div>
  <div i18n="@@ts-asset-notice-merged">Asset '<dont-translate>oldAssetName</dont-translate>' merged with '<dont-translate>oldAssetName</dont-translate>', and has been removed from the map.</div>
  <div i18n="@@ts-contact-update-success">Contact updated successfully!</div>
  <div i18n="@@ts-contact-created-success">Contact created successfully!</div>
  <div i18n="@@ts-incident-changed">Incident status successfully changed!</div>
  <!-- <div i18n="@@ts-savedfilters-saved">Filter '<dont-translate>filterName</dont-translate>' saved!</div> -->
  <div i18n="@@ts-map-settings-saved">Settings saved</div>
  <div i18n="@@ts-mobile-terminal-updated">Mobile terminal updated successfully!</div>
  <div i18n="@@ts-mobile-terminal-created">Mobile terminal created successfully!</div>
  <div i18n="@@ts-notes-updated">Notes updated successfully!</div>
  <div i18n="@@ts-notes-created">Note created successfully!</div>
  <div i18n="@@ts-mobileTerminal-form-error-membernumber-and-dnid">MemberNr and DNID Combination already exists, change one of the fields!</div>
  <div i18n="@@ts-mobileTerminal-form-error-serialnumber">Serial number already exists, choose another one!</div>
  <!-- <div i18n="@@ts-layout-asset-contacts"><dont-translate>assetName</dont-translate> — Contacts</div>
  <div i18n="@@ts-layout-asset-notes"><dont-translate>assetName</dont-translate> — Notes</div> -->
  <div i18n="@@ts-user-settings-saved">Settings saved</div>
  <!-- <div i18n="@@ts-layout-asset-positions"><dont-translate>assetName</dont-translate> — Last positions</div> -->
  <div i18n="@@ts-layout-asset-mobile-terminal-search">Mobile terminals — Search</div>
  <div i18n="@@ts-layout-asset-notes-edit">Notes — Edit</div>
  <div i18n="@@ts-layout-mobileTerminal-list">Mobile Terminal — List</div>
  <div i18n="@@ts-layout-mobileTerminal-show">Mobile Terminal information</div>

  <div i18n="@@ts-issue-status-poll-failed">Poll Failed</div>
  <div i18n="@@ts-issue-status-attempted-contact">Attempted Contact</div>
  <div i18n="@@ts-issue-status-manual-position-mode">Manual position mode</div>
  <div i18n="@@ts-issue-status-parked">Parked</div>
  <div i18n="@@ts-issue-status-technical-issue">Technical issue</div>
  <div i18n="@@ts-issue-status-resolved">Resolved</div>
  <div i18n="@@ts-issue-status-created">Created</div>
  <div i18n="@@ts-issue-status-manual-position-late">Overdue</div>
  <div i18n="@@ts-issue-status-recieving-vms-positioins">Recieving VMS</div>
  <div i18n="@@ts-issue-status-not-recieving-vms-positioins">Not recieving VMS</div>
  <div i18n="@@ts-issue-status-overdue">Overdue</div>
  <div i18n="@@ts-issue-status-recieving-ais-positioins">Recieving AIS</div>

  <div i18n="@@ts-issue-type-asset-not-sending">Asset not sending</div>
  <div i18n="@@ts-issue-type-seasonal-fishing">Seasonal fishing</div>
  <div i18n="@@ts-issue-type-ownership-transfer">Ownership transfer</div>
  <div i18n="@@ts-issue-type-long-term-parked">Long term parked</div>
  <div i18n="@@ts-issue-type-parked">Parked</div>
  <div i18n="@@ts-issue-type-manual-position-mode">Manual position mode</div>
</div>
