<div style="display: none;">
  <div i18n="@@ts-map-realtime-selected-asset-dont-exist-error">Asset has not sent a position for the last 8 hours and is not shown on map.</div>
  <div i18n="@@ts-mobileTerminal-form-error">Invalid characters given, only letters, digits, space and hypen is allowed.</div>
  <div i18n="@@ts-asset-notice-merged">Asset '<dont-translate>oldAssetName</dont-translate>' merged with '<dont-translate>oldAssetName</dont-translate>', and has been removed from the map.</div>
  <div i18n="@@ts-contact-update-success">Contact updated successfully!</div>
  <div i18n="@@ts-contact-created-success">Contact created successfully!</div>
  <div i18n="@@ts-incident-changed">Incident status successfully changed!</div>
  <div i18n="@@ts-savedfilters-saved">Filter '<dont-translate>filterName</dont-translate>' saved!</div>
  <div i18n="@@ts-map-settings-saved">Settings saved</div>
  <div i18n="@@ts-mobile-terminal-updated">Mobile terminal updated successfully!</div>
  <div i18n="@@ts-mobile-terminal-created">Mobile terminal created successfully!</div>
  <div i18n="@@ts-notes-updated">Notes updated successfully!</div>
  <div i18n="@@ts-notes-created">Note created successfully!</div>
  <div i18n="@@ts-mobileTerminal-form-error-membernumber-and-dnid">MemberNr and DNID Combination already exists, change one of the fields!</div>
  <div i18n="@@ts-mobileTerminal-form-error-serialnumber">Serial number already exists, choose another one!</div>
  <div i18n="@@ts-layout-asset-contacts"><dont-translate>assetName</dont-translate> — Contacts</div>
  <div i18n="@@ts-user-settings-saved">Settings saved</div>
  <div i18n="@@ts-layout-asset-contacts"><dont-translate>assetName</dont-translate> — Last positions</div>
  <div i18n="@@ts-layout-asset-mobile-terminal-search">Mobile terminals — Search</div>
  <div i18n="@@ts-layout-asset-notes-edit">Notes — Edit</div>
  <div i18n="@@ts-layout-mobileTerminal-list">Mobile Terminals — List</div>
</div>
