<form class="status-form" [formGroup]="formValidator">
  <mat-form-field id="status-form--status">
    <mat-select formControlName="status" required>
      <mat-option *ngFor="let status of getStatusKeys()" id="mat-option-plugin--{{status}}" [value]="status">{{getStatusText(status)}}</mat-option>
    </mat-select>
    <mat-error *ngFor="let error of getErrors(['type'])">{{ errorMessage(error) }}</mat-error>
  </mat-form-field>

  <button
    id="status-form--all"
    mat-stroked-button
    color="accent"
    type="button"
    i18n
    (click)="triggerShowLog.emit()"
    >Show all</button>
  <button
    i18n
    id="status-form--save"
    mat-button
    color="primary"
    type="button"
    [disabled]="!formValidator.valid || formValidator.value.status === status"
    (click)="save()"
  >Save</button>
</form>
