<form class="notes-form" [formGroup]="formValidator">
  <mat-form-field id="note-form--notes">
    <mat-select formControlName="status" required>
      <mat-option *ngFor="let status of getStatusKeys()" id="mat-option-plugin--{{status}}" [value]="status">{{statuses[status]}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button
    id="notes-form--all"
    mat-stroked-button
    color="accent"
    type="button"
    i18n
    (click)="triggerShowLog.emit()"
    >Show all</button>
  <button
    i18n
    id="notes-form--save"
    mat-raised-button
    color="primary"
    type="button"
    [disabled]="!formValidator.valid || formValidator.value.status === status"
    (click)="save()"
  >Save</button>
</form>
