<div class="content-container">
  <div class="description" *ngIf="incidentClosed">
    New position was registered and the incident was closed automaticly.
  </div>
  <legend i18n>Source:</legend>
  <div>{{formattedPosition.source}}</div>
  <legend i18n>Latitude:</legend>
  <div>{{formattedPosition.formattedLocation.latitude}}</div>
  <legend i18n>Longitude:</legend>
  <div>{{formattedPosition.formattedLocation.longitude}}</div>
  <legend i18n>Heading:</legend>
  <div>{{formattedPosition.heading.toFixed(2)}}</div>
  <legend i18n>Speed:</legend>
  <div>{{formattedPosition.speed.toFixed(2)}}</div>
  <legend i18n>Time:</legend>
  <div>{{formattedPosition.formattedTimestamp}}</div>
</div>
