@import 'variables.scss';

.popup-place-marker {
  transform:translate(-20px, -45px);
  background-image: url('/assets/marker.png');
  background-repeat: no-repeat;
  display: block;
  height: 50px;
  width: 40px;
  text-align: center;
  background-position: center;
  cursor: pointer;
}
.popup-place-marker .popup-place-marker-number {
  padding-top: 29%;
  font-size: 0.7em;
  display: block;
}
.popup-place-marker-info {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  visibility: hidden;
  min-width: 700%;
  min-height: 200%;
}
.popup-place-marker:hover .popup-place-marker-info {
  visibility: visible;
  transform:translate(-100px, -45px);
  button {
    background-color: $color_system_red;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }
  button:hover {
    background-color: red;
  }
  
}

