@import 'variables.scss';

.popup-place-marker {
  transform:translate(-20px, -45px);
  background-image: url('/assets/marker.png');
  background-repeat: no-repeat;
  display: block;
  height: 50px;
  width: 40px;
  text-align: center;
  background-position: center;
  cursor: pointer;
}
.popup-place-marker .popup-place-marker-number {
  padding-top: 29%;
  font-size: 0.7em;
  display: block;
}
.nametext {
  transform:translate(10px, -10px);
  background-color: #fff;
  color: #000;
  max-width: 80%;
}
.popup-place-marker-info {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  visibility: hidden;
  min-width: 700%;
  min-height: 200%;
  ui-button-close {
    transform:translate(-0px, -5px);
    float: right;
  }
  button {
    display: grid;
    background-color: $color_system_red;
    border: none;
    color: white;
    min-width: 100%;
    
  }
  button:hover {
    background-color: red;
  }
}