@import 'variables.scss';

.hit-target{
  height: 70px;
  width: 80px;
}
.popup-place-marker {
  transform:translate(-20px, -45px);
  background-image: url('/assets/marker.png');
  background-repeat: no-repeat;
  display: block;
  height: 50px;
  width: 40px;
  text-align: center;
  background-position: center;
  cursor: pointer;
}
.popup-place-marker .popup-place-marker-number {
  padding-top: 29%;
  font-size: 0.7em;
  display: block;
}
.nametext {
  transform:translate(10px, -10px);
  background-color: #fff;
  color: #000;
  max-width: 80%;
}
.tempname {
  transform:translate(-0px, -55px);
  visibility: hidden;
  display: block;
  text-align: left;
  padding-left: 1px;
  white-space: nowrap;
  min-width: 50px;
  max-width: 40%;
}
.popup-place-marker:hover .tempname {
  visibility: visible;
}
.popup-place-marker-info {
  transform:translate(-50px, -155px);
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 5px 0;
  z-index: 1;
  min-width: 700%;
  min-height: 200%;
  border-top-left-radius: 10px;
  ui-button-close {
    transform:translate(-0px, -5px);
    float: right;
  }
  button {
    display: block;
    background-color: $color_system_red;
    border: none;
    color: white;
    padding: 10px 0;
    margin: auto;
    float: left;
    min-width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  button:hover {
    background-color: red;
  }
}