@import 'variables.scss';

.content-container {
  @include control-panel;

  button.btn-default {
    padding: $medium_distance;
  }

  fieldset {
    border: 0px;
    border-top: 1px solid #FFFFFF;
    legend {
      // font-weight: bold;
      padding: 0px $small_distance;
      margin-left: $small_distance;
      width: fit-content;
      font-size: $default_font_size;
    }
  }
}
