<h1>{{isCreateOrUpdate()}} MobileTerminal</h1>

<div class="mobile-terminal-edit-form">
  <fieldset>
    <legend>Essential fields</legend>

    <mat-form-field id="mobile-terminal-form--mobileTerminalType">
      <mat-label>Transceiver system<span class="required">*</span></mat-label>
      <mat-select [(ngModel)]="mobileTerminal.mobileTerminalType">
        <mat-option *ngFor="let transponder of transponders" [value]="transponder.terminalSystemType">{{transponder.terminalSystemType}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field id="mobile-terminal-form--serialNo">
      <mat-label>Serial no.<span class="required">*</span></mat-label>
      <input matInput [(ngModel)]="mobileTerminal.serialNo">
    </mat-form-field>
  </fieldset>

  <fieldset>
    <legend>Mobile Terminal fields</legend>

    <mat-form-field id="mobile-terminal-form--oceanRegions">
      <mat-label>Ocean region</mat-label>
      <mat-select [(ngModel)]="selectedOceanRegions" multiple>
        <mat-option *ngFor="let oceanRegion of oceanRegions" [value]="oceanRegion">{{oceanRegion}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field id="mobile-terminal-form--transceiverType">
      <mat-label>Transceiver Type</mat-label>
      <input matInput [(ngModel)]="mobileTerminal.transceiverType">
    </mat-form-field>

    <mat-form-field id="mobile-terminal-form--softwareVersion">
      <mat-label>Software version</mat-label>
      <input matInput [(ngModel)]="mobileTerminal.softwareVersion">
    </mat-form-field>

    <mat-form-field id="mobile-terminal-form--antenna">
      <mat-label>Antenna</mat-label>
      <input matInput [(ngModel)]="mobileTerminal.antenna">
    </mat-form-field>

    <mat-form-field id="mobile-terminal-form--satelliteNumber">
      <mat-label>Satellite number</mat-label>
      <input matInput type="number" [(ngModel)]="mobileTerminal.satelliteNumber">
    </mat-form-field>
  </fieldset>

  <div>
    <button id="mobile-terminal-form--save" mat-raised-button color="primary" type="button" (click)="save()">Save</button>
  </div>
</div>
