@import 'variables.scss';

.content-container {
  margin-top: distance(1);
  display: grid;
  grid-row-gap: 2px;
  padding: 0px distance(1);

  .header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: distance(1);
    color: $color_turquoise;
    padding: $large_distance $medium_distance;
    background: white;

    .flag-image {
      width: 22px;
      place-self: center;
    }
  }

  .body {
    background: white;
    padding: $medium_distance;
    color: black;

    .information-wrapper {
      display: grid;
      grid-template-rows: auto 1fr;

      .asset-information {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-column-gap: $medium_distance;
        overflow-y: scroll;
        -ms-overflow-style: none;  // IE 10+
        overflow: -moz-scrollbars-none;  // Firefox
        &::-webkit-scrollbar {
          display: none;  // Safari and Chrome
        }

        h2 {
           grid-column: 1 / span 2;
        }

        legend {
          // font-weight: bold;
          font-size: $default_font_size;
          // text-decoration: underline;
        }

        a {
          color: black;
        }

        mat-checkbox {
          color: $color_turquoise;
          padding: $medium_distance $small_distance;
        }

        .asset-information--other-fields {
          grid-column: 1 / span 2;
          display: grid;
          grid-template-columns: 1fr auto;

          h3 {
            grid-column: 1 / span 2;
            padding: distance(1) 0px distance(0.5);
            font-size: 14px;
          }

        }

        .asset-information--last-position {
          grid-column: 1 / span 2;

          h3 {
            padding: distance(1) 0px distance(0.5);
            font-size: 14px;
          }

          .asset-information--last-position--content {
            background: rgba($color_light_turquoise, 0.1);
            padding: distance(1);
            display: grid;
            grid-row-gap: distance(0.5);

            .time-and-source {
              display: grid;
              grid-template-columns: 1fr auto;

              .time {
                font-weight: bolder;
              }
            }

            .position-fields {
              display: grid;
              grid-template-columns: 1fr auto;
              grid-column-gap: distance(0.5);

              div {
                text-align: right;
              }
            }
          }
        }

        .asset-information--activity {
          grid-column: 1 / span 2;

          h3 {
            padding: distance(1) 0px distance(0.5);
            font-size: 14px;
          }

          .asset-information--activity--content {
            background: rgba($color_light_turquoise, 0.1);
            padding: distance(1);
            display: grid;
            grid-row-gap: distance(0.5);

            .activity-type {
              font-weight: bolder;
            }

            .activity-fields {
              display: grid;
              grid-template-columns: 1fr auto;
              grid-column-gap: distance(0.5);

              div {
                text-align: right;
              }
            }
          }
        }
      }
    }
  }

  .button-wrapper {
    margin-top: distance(1);
    grid-column: 1 / span 2;

    display: grid;
    background: white;
    align-items: center;
    justify-items: center;

    .deselect-asset {
      display: grid;
      align-items: center;
      cursor: pointer;
      width: 100%;
      color: $color_warn;
    }
  }

  .bottom-button-wrapper {
    display: grid;
    grid-row-gap: distance(1);
    margin-top: distance(1);
  }

}
