<div class="content-container">
  <div header class="header">
    <img
      *ngIf="asset.asset.flagStateCode !== '???' && asset.asset.flagStateCode !== undefined && getCountryCode() !== '???'"
      class="flag-image"
      src="/assets/flags/4x3/{{getCountryCode()}}.svg"
      [alt]="getCountryCode()"
    />
    <span>{{ asset.asset.name + (asset.asset.externalMarking !== undefined ? ' — ' + asset.asset.externalMarking : '') }}</span>
  </div>
  <div body class="body">
    <div class="information-wrapper">
      <div class="asset-information">
        <ng-container *ngIf="asset.asset.ircs">
          <legend i18n>Ircs:</legend>
          <div>{{asset.asset.ircs}}</div>
        </ng-container>
        <ng-container *ngIf="asset.asset.vesselType">
          <legend i18n>Vessel type:</legend>
          <div>{{asset.asset.vesselType}}</div>
        </ng-container>

        <div class="asset-information--last-position" *ngIf="selectedAssetsLastPositions !== undefined && selectedAssetsLastPositions.ais !== undefined">
          <h3>Last AIS position ({{ getAisClass() }})</h3>
          <div class="asset-information--last-position--content">
            <div class="time-and-source">
              <div class="time">{{ formatDate(selectedAssetsLastPositions.ais.timestamp) }}</div>
              <div class="source">
                <span *ngIf="selectedAssetsLastPositions.ais.aisPositionAccuracy === 1" i18n>High accuracy</span>
                <span *ngIf="selectedAssetsLastPositions.ais.aisPositionAccuracy === 0" i18n>Low accuracy</span>
              </div>
            </div>
            <div class="position-fields">
              <label i18n>Speed:</label>
              <div>{{selectedAssetsLastPositions.ais.speed.toFixed(2)}} <span i18n="Knots SI symbol">kn</span></div>
              <label i18n>Heading:</label>
              <div>{{selectedAssetsLastPositions.ais.heading.toFixed(2)}}</div>
              <label i18n>Position:</label>
             <!-- <div>{{ formatLocation(selectedAssetsLastPositions.ais.location) }}</div> -->
             <div>
              <i (click)="goToAsset(asset)" 
              >{{ formatLocation(selectedAssetsLastPositions.ais.location)  }}</i>
            </div>
            </div>
          </div>
        </div>

        <div class="asset-information--last-position" *ngIf="selectedAssetsLastPositions !== undefined && selectedAssetsLastPositions.vms !== undefined">
          <h3>Last VMS position ({{ selectedAssetsLastPositions.vms.source }})</h3>
          <div class="asset-information--last-position--content">
            <div class="time-and-source">
              <div class="time">{{ formatDate(selectedAssetsLastPositions.vms.timestamp) }}</div>
              <div class="source">
                <span *ngIf="selectedAssetsLastPositions.vms.sourceSatelliteId !== undefined">
                  {{ translateOceanRegion(selectedAssetsLastPositions.vms.sourceSatelliteId) }}
                </span>
              </div>
            </div>
            <div class="position-fields">
              <label i18n>Speed:</label>
              <div>{{selectedAssetsLastPositions.vms.speed.toFixed(2)}} <span i18n="Knots SI symbol">kn</span></div>
              <label i18n>Heading:</label>
              <div>{{selectedAssetsLastPositions.vms.heading.toFixed(2)}}</div>
              <label i18n>Position:</label>
              <div>
                <i (click)="goToAsset(asset)" 
                >{{ formatLocation(selectedAssetsLastPositions.vms.location)  }}</i>
              </div>
            </div>
          </div>
        </div>

        <div class="asset-information--other-fields">
          <h3>Other:</h3>
          <ng-container *ngIf="asset.asset.mmsi">
            <legend i18n>Mmsi:</legend>
            <div>
              <a
                href="https://www.marinetraffic.com/en/ais/index/search/all?keyword={{asset.asset.mmsi}}"
                target="_blank"
              >{{asset.asset.mmsi}}</a>
            </div>
          </ng-container>
          <ng-container *ngIf="asset.asset.flagStateCode">
            <legend i18n>Flagstate:</legend>
            <div>{{asset.asset.flagStateCode}}</div>
          </ng-container>
          <ng-container *ngIf="asset.asset.externalMarking">
            <legend i18n>External marking:</legend>
            <div>{{asset.asset.externalMarking}}</div>
          </ng-container>
          <ng-container *ngIf="asset.asset.lengthOverAll">
            <legend i18n>Length:</legend>
            <div>{{asset.asset.lengthOverAll}} <span i18n="Meter SI symbol">m</span></div>
          </ng-container>
          <ng-container *ngIf="asset.asset.licenceType">
            <legend i18n>LicenceType:</legend>
            <div>{{asset.asset.licenceType}}</div>
          </ng-container>
          <ng-container *ngIf="asset.asset.prodOrgCode">
            <legend i18n>Org. Nr:</legend>
            <div>{{asset.asset.prodOrgCode}}</div>
          </ng-container>
          <ng-container *ngIf="asset.asset.prodOrgName">
            <legend i18n>Org. namn:</legend>
            <div>{{asset.asset.prodOrgName}}</div>
          </ng-container>
        </div>

        <div class="button-wrapper">
          <button
            i18n
            mat-button
            (click)="goToAsset(asset)"
            color="primary"
          >Go to on map</button>
          <button
            i18n
            mat-button
            routerLink="/asset/{{asset.asset.id}}"
            color="primary"
          >Show more information</button>
          <button
            i18n
            mat-button
            routerLink="/asset/{{asset.asset.id}}"
            color="primary"
            disabled
          >Add to asset group</button>
          <button
            i18n
            mat-button
            (click)="deselectAsset(asset.asset.id); untrackAsset(asset.asset.id); removeForecast(asset.asset.id)"
            color="warn"
          >Deselect asset</button>
        </div>

        <mat-checkbox color="primary" [checked]="tracksIsVisible(asset)" (change)="toggleTracks(asset)" i18n>Track</mat-checkbox>
        <mat-checkbox color="primary" [checked]="forecastIsVisible(asset.asset.id)" (change)="toggleForecast(asset.asset.id)" i18n>Forecast</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="bottom-button-wrapper" footer>
    <button
      mat-button
      (click)="getLicenceForAsset(asset.asset.id); setActiveRightPanel(['showAsset', 'licenceInformation'])"
      color="primary"
      class="map-panel-button"
    >
      <ng-container i18n>License</ng-container>
      <i class="ri-arrow-drop-right-fill"></i>
    </button>
    <button
      mat-button
      (click)="setActiveRightPanel(['showAsset', 'managePolling'])"
      color="primary"
      class="map-panel-button"
    >
      <ng-container i18n>Manage polling</ng-container>
      <i class="ri-arrow-drop-right-fill"></i>
    </button>
    <button
      mat-button
      (click)="setActiveRightPanel(['showAsset', 'positions'])"
      color="primary"
      class="map-panel-button"
    >
      <ng-container i18n>Positions</ng-container>
      <i class="ri-arrow-drop-right-fill"></i>
    </button>
    <button
      mat-button
      (click)="getIncidentsForAssetId(asset.asset.id); setActiveRightPanel(['showAsset', 'incidentList'])"
      color="primary"
      class="map-panel-button"
    >
      <ng-container i18n>Incidents</ng-container>
      <i class="ri-arrow-drop-right-fill"></i>
    </button>
  </div>
</div>
