@import 'variables.scss';

.incident {
  display: grid;
  grid-template-columns: $medium_distance 1fr;
  grid-column-gap: $medium_distance;
  background: $color_cold_gray;
  cursor: pointer;

  &.selected {
    background-color: $color_turquoise;
    color: white;

    .incident-content .ircs-and-name {
      color: white;
    }
  }

  .status {
    place-self: center;
    // border: 1px solid #000000;
    width: 100%;
    height: 100%;
    display: inline-block;


    &.urgancy-LOW {
      background: $color_system_green;
    }
    &.urgancy-MEDIUM {
      background: $color_system_yellow;
    }
    &.urgancy-HIGH {
      background: $color_system_red;
    }
  }

  .incident-content {
    display: grid;
    grid-column-gap: distance(1);
    grid-row-gap: distance(0.5);
    padding: distance(1);
    padding-left: 0px;

    .ircs-and-name {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: distance(1);
      color: $color_turquoise;

      .ircs {
        font-weight: bold;
      }
    }

    .status-code-and-time {
      font-size: 11px;

      .status-code {
        font-weight: bolder;
      }
    }

    .location {
      font-size: 11px;
    }
  }

  .notifications {
    position: relative;
    & > * {
      @include small-badge();
      position: absolute;
    }
    .created-notifications {
      background: $color_warn;
      right: $xlarge_distance;
    }
    .updated-notifications {
      background: $color_yellow;
      right: 0px;
    }
  }
}
