<div class="content-container">
  <div class="description">
    You can save screen locations, both zoom level and center position using 10 available save slots.
    Press "+" in the the desired slot to save map. Use pen to rename location or trash to remove.
  </div>
  <div class="description">
    <b>Using shortcuts:</b>
    Press alt-key and a one digit to save the location to that number. To go to that location just press that number.
    (e.g. press "alt+2" to save. Then press "2" to go to that location)
  </div>
  <div class="locations">
    <div class="location-wrapper" *ngFor="let locationKey of locationKeys">
      <div class="location-header">
        <div class="name">
          <span *ngIf="!editName[locationKey]">{{mapLocations[locationKey].name}}</span>
          <input *ngIf="editName[locationKey]" matInput placeholder="Location name" i18n-placeholder [(ngModel)]="locationNames[locationKey]">
        </div>

        <i class="ri-pencil-fill" (click)="toggleEditName(locationKey)"></i>
        <i class="ri-delete-bin-2-fill" (click)="deleteMapLocationLocal(locationKey)"></i>
      </div>
      <div class="location" (click)="setLocation(locationKey)">
        <img
          *ngIf="mapLocations[locationKey].base64Image !== undefined"
          class="location-image"
          src="{{mapLocations[locationKey].base64Image}}"
          alt="{{locationKey}}"
        />
        <div class="location-text">{{locationKey}}</div>
      </div>
    </div>
  </div>
  <div id="id-loc-img">

  </div>
</div>
