@import 'variables.scss';

.page-container {

  display: grid;
  grid-row-gap: distance(4);
  margin-bottom: distance(2);

  .mobile-terminal-filter {
    padding: distance(3);
    background: white;
    display: grid;
    grid-template-columns: 1fr auto;

    .serialNo {
      grid-column: span 2;
    }

    .form-button-wrapper {
      display: grid;
      grid-column-gap: distance(1);
      grid-template-columns: 1fr 1fr;
    }

    .lifecycle-state-filter {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: distance(2);
    }
  }

  .load-spinner {
    margin: 150px auto;
    place-self: center;
  }

  .filter-response-container {
    display: grid;
    grid-column: 1fr;
    grid-row-gap: distance(2);

    .filter-info {
      font-weight: bold;
      font-size: distance(2);
    }

    .mobile-terminals-table-container > table {
      width: 100%;

      .inactive {
        color: $color_warn;
        font-weight: bold;
      }
      .active {
        color: $color_accent;
        font-weight: bold;
      }
    }

    .mobile-terminals-table-container a {
      color: black;
      text-decoration: none;


      &:hover {
        background-color: rgba( $color_blue, 0.2);
        text-decoration: underline;
      }
    }
  }
}
