<div class="page-container">
  <form class="mobile-terminal-filter">

    <mat-form-field class="serialNo">
      <mat-label i18n>Serial number filter</mat-label>
      <input matInput [(ngModel)]="filterObject.serialNo" name="serialNoFilter" (ngModelChange)="filter()">
    </mat-form-field>

    <mat-checkbox
      class="only-active"
      name="activeFilter"
      [(ngModel)]="filterObject.showOnlyActive"
      (ngModelChange)="filter()"
    >Show active mobile terminals only</mat-checkbox>
  </form>

  <mat-spinner class="load-spinner" *ngIf="loadingData"></mat-spinner>
  <div class="mobile-terminals-container mat-elevation-z8" *ngIf="tableReadyForDisplay">
    <div class="mobile-terminals-table-container">

      <table mat-table [dataSource]="sortedMobileTerminals" class="mobile-terminal-table" matSort
        matSortActive="serialNo" matSortDisableClear matSortStart="desc" matSortDirection="desc" (matSortChange)="sortData($event)">

        <ng-container matColumnDef="serialNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Serial number</th>
          <td mat-cell *matCellDef="let row"><a routerLink="/mobileTerminal/{{row.id}}">{{row.serialNo}}</a></td>
        </ng-container>

        <ng-container matColumnDef="defaultDnid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Default DNID</th>
          <td mat-cell *matCellDef="let row">{{row.defaultDnid}}</td>
        </ng-container>

        <ng-container matColumnDef="defaultMemberNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Default member no.</th>
          <td mat-cell *matCellDef="let row">{{row.defaultMemberNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="satelliteNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Satellite number</th>
          <td mat-cell *matCellDef="let row">{{row.satelliteNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Active</th>
          <td mat-cell *matCellDef="let row" class="{{ row.active ? 'active' : 'inactive' }}">{{row.activeText}}</td>
        </ng-container>

        <ng-container matColumnDef="assetName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Attached to</th>
          <td mat-cell *matCellDef="let row"><a routerLink="/asset/{{row.assetId}}">{{row.assetName}}</a></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>

<ng-template #toolbox>
  <div class="toolbox-wrapper">
    <div class="toolbox">
      <button
        mat-raised-button
        color="primary"
        (click)="exportToCSV()"
        i18n
      >Export to CSV</button>
    </div>
  </div>
</ng-template>
