<div class="page-container">
  <mat-spinner class="load-spinner" *ngIf="loadingData"></mat-spinner>
  <div class="mobile-terminals-container mat-elevation-z8" *ngIf="tableReadyForDisplay">
    <div class="mobile-terminals-table-container">

      <table mat-table [dataSource]="sortedMobileTerminals" class="mobile-terminal-table" matSort
        matSortActive="Serial No." matSortDisableClear matSortStart="desc" matSortDirection="desc" (matSortChange)="sortData($event)">

        <ng-container matColumnDef="Serial No.">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Serial number</th>
          <td mat-cell *matCellDef="let row">{{row.serialNo}}</td>
        </ng-container>

        <ng-container matColumnDef="dnid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Default DNID</th>
          <td mat-cell *matCellDef="let row">{{row.defaultDnid}}</td>
        </ng-container>

        <ng-container matColumnDef="memberNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Default member no.</th>
          <td mat-cell *matCellDef="let row">{{row.defaultMemberNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="satelliteNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Satellite number</th>
          <td mat-cell *matCellDef="let row">{{row.satelliteNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Active</th>
          <td mat-cell *matCellDef="let row">{{row.activeText}}</td>
        </ng-container>

        <ng-container matColumnDef="asset">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>asset</th>
          <td mat-cell *matCellDef="let row"><a routerLink="/asset/{{row.assetId}}">{{row.assetName}}</a></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
