<div style="display: none;">
  <div i18n="@@ts-map-realtime-selected-asset-dont-exist-error">Asset has not sent a position for the last 8 hours and is not shown on map.</div>
  <div i18n="@@ts-mobileTerminal-form-error">Invalid characters given, only letters, digits, space and hypen is allowed.</div>
  <div i18n="@@ts-asset-notice-merged">Asset '<oldAssetName></oldAssetName>:old-asset-name:' merged with '<newAssetName></newAssetName>:new-asset-name:', and has been removed from the map.</div>
</div>
