$color_black: rgba(#000000, 0.87);

$color_cold_dark_gray: #DAE3E6;
$color_cold_gray: #E9EDED;

$color_dark_turquoise: #005074;
$color_turquoise: #005F88;
$color_light_turquoise: #2280A7;

$color_dark_blue: #092D4B;
$color_blue: #004371;

$color_dark_green: #004038;
$color_green: #00594F;
$color_light_green: #3B847B;

$color_dark_orange: #CC340D;
$color_orange: #E84E0F;
$color_light_orange: #F3914E;

$color_dark_yellow: #AF981B;
$color_yellow: #D1B738;
$color_light_yellow: #E8D186;

$color_warm_dark_gray: #E3DCD5;
$color_warm_gray: #F0EDE7;

$color_gray: #CCCCCC;
$color_dark_gray: #818181;

$color_warn_light: #FF988B;
$color_warn: #F7220B;
$color_warn_dark: #780C00;

$color_accent_light: #66C622;
$color_accent: #227E00;
$color_accent_dark: #01763B;

$color_system_red: #B70000;
$color_system_orange: #F2711C;
$color_system_yellow: #FBBD08;
$color_system_green: #01763B;

$color_background_gray: #F5F9FF;

$default_font_size: 14px;
$h1_font_size: 20px;
$navbar_height: 45px;
$efr_navbar_height: 60px;

$map_overlay_background: rgba( $color_turquoise, 0.7);

$distance: 8px;
@function distance($times) {
  @return $times * $distance;
}

$small_distance: distance(0.5); // 4px
$medium_distance: distance(1);  // 8px
$large_distance: distance(2);   // 16px
$xlarge_distance: distance(3);  // 24px
$x2large_distance: distance(4); // 32px
$x3large_distance: distance(5); // 40px
$x4large_distance: distance(6); // 48px

/* Map realated variables */
$panel_animation_time: 400ms;
$left_column_width: 320px;
$right_column_width: 320px;

@mixin no-scrollbar {
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }
}

@mixin control-panel {
  display: grid;
  color: $color_black;
  padding: 10px;
  overflow-y: scroll;
  border: 1px solid $map_overlay_background;
  background: rgba( #FFFFFF , 0.8);

  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }
}

.icon {
  background: $color_turquoise;
  color: white;
  font-size: distance(3);
  height: distance(5);
  width: distance(5);
  display: grid;
  place-content: center;
  &:hover {
    background: $color_light_turquoise;
  }

  &.active {
    background: white;
    color: $color_turquoise;
  }
}

.left-icon {
  @extend .icon;
  border-top-right-radius: $small_distance;
  border-bottom-right-radius: $small_distance;
}

.right-icon {
  @extend .icon;
  border-top-left-radius: $small_distance;
  border-bottom-left-radius: $small_distance;
}

@mixin svg-icon($url) {
  display: grid;
  background: $color_turquoise;
  width: $x3large_distance;
  height: $x3large_distance;
  &::before {
    place-self: center;
    height: distance(2.5);
    width: distance(2.5);
    content: '';
    background-size: distance(2.5) distance(2.5);
    background-image: url($url);
    background-repeat: no-repeat;
    filter: brightness(0%) invert(1);
  }
  &:hover {
    background: $color_light_turquoise;
  }

  &.active {
    background: white;
  }

  &.active::before {
    filter: none;
  }
}

@mixin svg-left-icon($url) {
  @include svg-icon($url);
  border-top-right-radius: $small_distance;
  border-bottom-right-radius: $small_distance;
}

@mixin svg-right-icon($url) {
  @include svg-icon($url);
  border-top-left-radius: $small_distance;
  border-bottom-left-radius: $small_distance;
}

@mixin badge() {
  border-radius: $large_distance;
  padding: $small_distance $medium_distance;
  color: black;
  margin-right: $medium_distance;
}

@mixin small-badge() {
  @include badge();
  padding: distance(0.25) distance(0.5);
  font-size: 11px;
}
