$color_black: #000000;

$color_cold_dark_gray: #DAE3E6;
$color_cold_gray: #E9EDED;

$color_dark_turquoise: #005074;
$color_turquoise: #005F88;
$color_light_turquoise: #2280A7;

$color_dark_blue: #092D4B;
$color_blue: #004371;

$color_dark_green: #004038;
$color_green: #00594F;
$color_light_green: #3B847B;

$color_dark_orange: #CC340D;
$color_orange: #E84E0F;
$color_light_orange: #F3914E;

$color_dark_yellow: #AF981B;
$color_yellow: #D1B738;
$color_light_yellow: #E8D186;

$color_warm_dark_gray: #E3DCD5;
$color_warm_gray: #F0EDE7;


$default_font_size: 14px;
$h1_font_size: 20px;
$navbar_height: 45px;

$map_overlay_background: rgba( $color_turquoise, 0.7);

$small_distance: 4px;
$medium_distance: 8px;
$large_distance: 16px;
$xlarge_distance: 24px;
$xxlarge_distance: 32px;

@mixin no-scrollbar {
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }
}

@mixin control-panel {
  display: grid;
  color: $color_black;
  padding: 10px;
  overflow-y: scroll;
  border: 1px solid $map_overlay_background;
  background: rgba( #FFFFFF , 0.8);

  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }
}
