$default_font_size: 14px;
$offset_for_header: 48px;

$map_overlay_background: rgba(0, 0, 0, 0.7);

$small_distance: 5px;
$medium_distance: 10px;
$large_distance: 15px;
$xlarge_distance: 20px;
$xxlarge_distance: 25px;
