<div class="content-container">
  <div class="panel-config-buttons">
    <button
      *ngIf="canShowButton('map-control-panel')"
      class="btn {{currentControlPanel === 'map-control-panel' ? 'active' : ''}}"
      (click)="toggleCurrentControlPanel('map-control-panel')"
      title="{{currentControlPanel === 'map-control-panel' ? 'Hide control panel' : 'Show control panel'}}"
    >
      <i class="fas fa-cog" aria-hidden="true"></i>
    </button>
    <button
      *ngIf="canShowButton('map-distance-between-points')"
      class="btn {{currentControlPanel === 'map-distance-between-points' ? 'active' : ''}}"
      (click)="toggleCurrentControlPanel('map-distance-between-points')"
      title="{{currentControlPanel === 'map-distance-between-points' ? 'Stop messuring distance' : 'Messure distance'}}"
    >
      <i class="fas fa-pencil-ruler" aria-hidden="true"></i>
    </button>
    <button
      *ngIf="canShowButton('map-asset-groups')"
      class="btn {{currentControlPanel === 'map-asset-groups' ? 'active' : ''}}"
      (click)="toggleCurrentControlPanel('map-asset-groups')"
      title="{{currentControlPanel === 'map-asset-groups' ? 'Hide assetgroups' : 'Show assetgroups'}}"
    >
      <i class="far fa-address-book" aria-hidden="true"></i>
    </button>
    <button
      *ngIf="canShowButton('map-saved-filters')"
      class="btn {{currentControlPanel === 'map-saved-filters' ? 'active' : ''}}"
      (click)="toggleCurrentControlPanel('map-saved-filters')"
      title="{{currentControlPanel === 'map-saved-filters' ? 'Hide saved searches' : 'Show saved searches'}}"
    >
      <i class="far fa-save" aria-hidden="true"></i>
    </button>
    <button
      *ngIf="canShowButton('map-layers')"
      class="btn {{currentControlPanel === 'map-layers' ? 'active' : ''}}"
      (click)="toggleCurrentControlPanel('map-layers')"
      title="{{currentControlPanel === 'map-layers' ? 'Hide map layers' : 'Show map layers'}}"
    >
      <i class="fas fa-layer-group" aria-hidden="true"></i>
    </button>
  </div>
  <div><ng-content></ng-content></div>
  <map-asset-search
    [autocompleteFunction]="autocompleteFunction"
    [autocompleteResult]="autocompleteResult"
    [centerMapOnPosition]="centerMapOnPosition"
    [selectAsset]="selectAsset"
  ></map-asset-search>
</div>
